bin
tmp
node_modules
shell/sandstorm-shell.config
shell/sandstorm-shell.creator
shell/sandstorm-shell.creator.user
shell/sandstorm-shell.files
shell/sandstorm-shell.includes
shell/public/edit.png
shell/public/trash.png
shell/public/wrench.png
shell/public/download.png
shell/public/restart.png
website/sandstorm.io.config
website/sandstorm.io.creator
website/sandstorm.io.creator.user
website/sandstorm.io.files
website/sandstorm.io.includes
shell-build
shell-bundle
bundle
.docker
.shell-env
.vagrant
shell/packages/*/.build
tests/node_modules
shell/.meteor/local
