bin
tmp
node_modules
shell/sandstorm-shell.config
shell/sandstorm-shell.creator
shell/sandstorm-shell.creator.user
shell/sandstorm-shell.files
shell/sandstorm-shell.includes
shell/public/edit.png
shell/public/trash.png
shell/public/wrench.png
shell/public/download.png
shell/public/restart.png
shell-bundle
sandstorm-*.tar.xz
bundle/
.shell-env
.vagrant/
