bin
tmp
deps
node_modules
shell/client/changelog.html
shell/client/styles/_icons.scss
shell/sandstorm-shell.config
shell/sandstorm-shell.creator
shell/sandstorm-shell.creator.user
shell/sandstorm-shell.files
shell/sandstorm-shell.includes
shell/public/appmarket.svg
shell/public/apps.svg
shell/public/battery.svg
shell/public/bug.svg
shell/public/close.svg
shell/public/close-FFFFFF.svg
shell/public/debug.svg
shell/public/download.svg
shell/public/down.svg
shell/public/install.svg
shell/public/install-*.svg
shell/public/key.svg
shell/public/ldap.svg
shell/public/menu.svg
shell/public/notification.svg
shell/public/open-grain.svg
shell/public/plus-*.svg
shell/public/question-*.svg
shell/public/restart.svg
shell/public/restore.svg
shell/public/restore-*.svg
shell/public/settings.svg
shell/public/share.svg
shell/public/source.svg
shell/public/trash.svg
shell/public/upload.svg
shell/public/upload-*.svg
shell/public/up.svg
shell/public/web.svg
shell/public/copy.svg
shell/public/email.svg
shell/public/link.svg
shell/public/people.svg
shell/public/search.svg
shell/public/github-color.svg
shell/public/github.svg
shell/public/google-color.svg
shell/public/google.svg
shell/public/troubleshoot.svg
shell/public/email-494949.svg
shell/public/*-m.svg
shell/public/sandstorm-icons
shell/public/icons/icons-*.eot
shell/public/icons/icons-*.ttf
shell/public/icons/icons-*.svg
shell/public/icons/icons-*.woff
shell-build
sandstorm-*.tar.xz
sandstorm-*.tar.xz.sig
sandstorm-*.tar.xz.update-sig
install.sh.sig
bundle/
.docker
.shell-env
.vagrant/
phantomjsdriver.log
selenium-debug.log
tests/downloads
tests/assets/*
tests/nightwatch.tmp.json
tests/screenshots/
tests/sandstorm-tests.config
tests/sandstorm-tests.creator
tests/sandstorm-tests.creator.user
tests/sandstorm-tests.files
tests/sandstorm-tests.includes
tests/tmp-sandstorm
app-index.spk
app-index-sandstorm-files.list
test-app.spk

# Vim swap files:
*.swp
