bin
tmp
deps
node_modules
shell/client/changelog.html
shell/sandstorm-shell.config
shell/sandstorm-shell.creator
shell/sandstorm-shell.creator.user
shell/sandstorm-shell.files
shell/sandstorm-shell.includes
shell/public/edit.png
shell/public/trash.png
shell/public/wrench.png
shell/public/download.png
shell/public/restart.png
shell/public/close.png
shell/public/key.png
shell/public/share.png
shell/public/menu.png
shell/public/inbox.png
shell/public/*-m.png
shell-build
sandstorm-*.tar.xz
bundle/
.docker
.shell-env
.vagrant/
phantomjsdriver.log
selenium-debug.log
src/sandstorm/*.capnp.c++
src/sandstorm/*.capnp.h
tests/assets/*
tests/nightwatch.tmp.json
tests/screenshots/
