.basicTabs-container .tabs-list,
.dynamicTabs-container .tabs-list {
  text-align: left;
  width: 100%;
}
.basicTabs-container .tabs-list .tab-item,
.dynamicTabs-container .tabs-list .tab-item {
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  padding: 13px 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
}
.basicTabs-container .tabs-list .tab-item.active,
.dynamicTabs-container .tabs-list .tab-item.active {
  border-radius: top 5px;
  border: 1px solid #ddd;
  border-bottom: none;
  margin-bottom: -1px !important;
  padding: 12px 14px 14px 14px !important;
  background-color: #fff;
  color: #333;
}
.basicTabs-container .tabs-content-container,
.dynamicTabs-container .tabs-content-container {
  padding: 15px;
  border-top: 1px solid #ddd;
}
.basicTabs-container .tabs-content,
.dynamicTabs-container .tabs-content {
  display: none;
}
.basicTabs-container .tabs-content.active,
.dynamicTabs-container .tabs-content.active {
  display: block;
}