body>.main-content.account {
  text-align: center;
  background-color: #eee;

  >* {
    margin: 16px auto;
  }

  >.identities {
    padding: 0;

    >li {
      display: inline-block;
      box-sizing: border-box;
      width: 344px;
      height: 80px;
      padding: 8px 8px 8px 80px;
      list-style-type: none;
      text-align: left;

      border: 1px solid #aaa;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

      &:hover {
        background-color: #eee;
      }
    }

    >.display {
      position: relative;

      background-position: right 8px top 8px;
      background-repeat: no-repeat;

      &.google { @extend %google-icon; }
      &.github { @extend %github-icon; }

      >ul {
        padding: 0;

        >li {
          list-style-type: none;

          >.label {
            display: none;
          }
        }

        >.handle {
          font-family: monospace;
        }

        >.picture {
          position: absolute;
          left: 8px;
          top: 8px;
          width: 64px;
          height: 64px;

          >img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
          }
        }

        >.pronoun {
          font-size: 70%;
          line-height: 20px;

          >.label {
            display: inline;
          }
        }

        >.edit {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          >button {
            @extend %unstyled-button;
            display: block;
            width: 100%;
            height: 100%;
            color: transparent;
            cursor: pointer;
          }
        }
      }
    }

    >.edit {
      >form {
        position: absolute;
        z-index: 4;
        left: calc(50% - 300px);
        right: calc(50% - 300px);
        top: 64px;
        height: auto;
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

        >ul {
          padding: 8px;

          >li {
            list-style-type: none;
            overflow: hidden;
            margin-bottom: 8px;

            label {
              display: block;
              font-weight: bold;
              text-align: right;
            }

            input[type="text"], select {
              display: block;
              width: 400px;
              float: right;
              box-sizing: border-box;
              font-size: inherit;
              line-height: inherit;
              background-color: white;
              border: 1px solid #ccc;
              padding: 2px;
              margin-left: 8px;
            }

            &.handle {
              label::after {
                content: "@";
                float: right;
                margin-right: -20px;
                font-family: monospace;
                padding-top: 2px;
                color: #888;
              }

              input[type="text"] {
                padding-left: 1em;
                font-family: monospace;
              }
            }

            &.picture {
              button {
                float: right;
                border: none;
                padding: 0;
                width: 256px;
                height: 256px;
                margin-right: 144px;
                margin-left: 8px;
                position: relative;
                background-color: transparent;

                &:hover {
                  cursor: pointer;

                  &::before {
                    position: absolute;
                    content: " ";
                    display: block;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.2);
                    z-index: 1;
                  }
                }

                >img {
                  display: block;
                  max-width: 100%;
                  max-height: 100%;
                  margin: auto;
                }
              }
            }

            &.save {
              text-align: right;
            }

            >.details {
              display: block;
              clear: right;
              font-size: 80%;
            }
          }
        }
      }
    }

    >.add {
      background-color: transparent;
      box-shadow: none;
      border-width: 2px;
      border-style: dashed;
      border-top: none;
      line-height: 64px;
      text-align: center;
      padding: 0;
      position: relative;

      >button {
        @extend %unstyled-button;
        display: block;
        width: 100%;
        height: 100%;
        color: #888;
        cursor: pointer;
        position: relative;
        z-index: 1;
      }

      &::before {
        content: "+";
        display: block;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 64px;
        height: 64px;
        font-size: 72px;
        line-height: 64px;
        color: #888;
        font-weight: bold;
      }
    }
  }

  .billing-settings {
    margin: 16px auto;
    >h3 {
      text-align: left;
      border-bottom: 1px solid #aaa;
      text-transform: uppercase;
      font-weight: bold;
      margin-left: 32px;
      margin-right: 48px;
    }

    >table {
      text-align: left;
      margin: 0px auto;
      min-width: 600px;
      border-collapse: collapse;
      border-spacing: 0;
      width: 90%;

      >thead {
        td:not(:first-child) {
          background-color: #ccc;
          padding-left: 10px;
        }
        td:nth-child(2) {
          border-right: 1px solid white;
        }
      }

      td:nth-child(1) {
        width: 80px;
      }

      td:nth-child(2) {
        width: 300px;
      }

      // td:nth-child(3) {
      //   width: 200px;
      // }

      td:nth-child(4) {
        width: 80px;
      }

      >tbody {
        >tr>td {
          padding: 16px;

          >button {
            background-color: transparent;
            border: 1px solid #ccc;
            color: #999;
            cursor: pointer;
            text-transform: uppercase;

            &:hover {
              background-color: white;
            }
          }

          &.add-new-card {
            >button {
              font-size: 16px;
              font-weight: bold;
            }

            >span {
              margin-left: 16px;
            }
          }
          &.checkbox {
            width: 100px;
            padding-right: 32px;

            >.hidden {
              visibility: hidden;
            }
            >.checkbox-wrapper {
              position: relative;
              width: 20px;
              height: 20px;
              >label {
                width: 16px;
                height: 16px;
                position: absolute;
                top: 4px;
                left: 4px;
                cursor: pointer;
                background: white;
                border: 1px solid #888;

                &:hover {
                  background: #aaa;
                }
              }
              input[type=checkbox] {
                visibility: hidden;
                &:checked + label {
                  background: #666;
                  cursor: initial;
                }
              }
            }
          }
        }
      }
    }
  }
}

body>.main-content.account,
body>.popup {
  .mobile-iframe-hack {
    display: none;

    // TODO(soon): mobile
    // position: absolute;
    // width: 60px;
    // height: 20px;
    // z-index: 1;
    // border: 0px;
  }

  .mobile-iframe-hack.fullscreen {
    display: initial;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 32px;
    left: 0px;
    z-index: 10000000;
    border: 0px;
  }
}

body>.popup.billing-prompt {
  text-align: center;

  >.frame.centered  {
    &:before {
      border-bottom: 8px solid #eee;
    }

    width: 820px;
    max-width: none;
    margin-left: calc(50% - 450px);
    background-color: #eee;

    >.subscriptions {
      font-size: 11px;
      margin: 32px auto 16px auto;
      padding-left: 16px;

      >.subscription {
        display: inline-block;
        float: left;
        border: 2px solid #aaa;
        color: #aaa;
        border-radius: 4px;
        height: 180px;
        width: 180px;
        margin: 16px 16px 16px 0px;
        background-color: #eee;
        cursor: pointer;

        &.selected {
          cursor: auto;
          background-color: white;
          border: 2px solid #999;
          color: black;
        }

        &.selecting {
          background-size: 96px 96px;
          // TODO(soon): need spinner with transparent or #eee background
          background-image: url("/spinner_96.gif");
          background-repeat: no-repeat;
          background-position: center;
        }

        h3 {
          font-size: 16px;
          text-transform: uppercase;
        }

        >table {
          border-collapse: collapse;
          border-spacing: 0;
          margin: 0px auto 16px auto;

          td {
            padding-bottom: 8px;

            &:nth-child(1) {
              padding-right: 4px;
              border-right: 1px solid #ccc;
              text-align: right;
            }

            &:nth-child(2) {
              padding-left: 4px;
              text-align: left;
            }
          }

          tr:last-child>td {
            padding-bottom: 0px;
          }
        }

        >hr {
          margin-bottom: 8px;
        }
      }
    }
  }
}
