#admin-settings {
  margin: 16px;
  .nav {
    display: inline-block;
    padding-left: 5px;
    padding-bottom: 5px;
    >li {
      float: left;
      position: relative;
      display: block;
      box-sizing: border-box;
      >a {
        padding: 10px;
        border-radius: 4px;
        &:hover {
          background-color: lighten($sandstorm-purple-color, 40%);
        }
      }
      &.active >a {
        color: white;
        background-color: $sandstorm-purple-color;
      }
    }
  }
  button {
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    background-color: $sandstorm-purple-color;

    padding: 8px;
    line-height: 1.33;
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
  }
  .details {
    font-size: 70%;
  }
  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
  }
  .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  .fade-out {
    opacity: .5;
  }
}

.settings-tabs {
  font-size: 16px;
}

#admin-settings-save {
  margin-top: 20px;
  margin-bottom: 20px;
}

#admin-settings-send-toggle {
  margin-left: 10px;
}

#admin-settings-save:hover,
#admin-settings-send-test:hover,
#admin-settings-send-toggle:hover {
  background-color: #396F9E;
}

#admin-settings-form input[type="text"] {
  width: 100%;
}

#settings-content {
  width: 600px;
}

table.admin-table {
  font-size: 14px;
  border-collapse: collapse;
  thead td {
    font-weight: 600;
    border-bottom: 1px solid #aaa;
  }
  td {
    padding: 0px 5px 5px;
    &:first-child {
      padding-left: 16px;
    }
    a.disable-cap {
      color: red;
      cursor: pointer;
    }
  }
  tr {
    height: 32px;
    border-bottom: 1px solid #ddd;
    &.revoked-cap {
      text-decoration: line-through;
    }
  }
}

#key-note {
  width: 300px;
}

input.autoSelect {
  font-family: monospace;
  width: 450px;
}

#invite {
  input, select {
    font: inherit;
    font-size: inherit;
    width: 80%;
    box-sizing: border-box;
  }
  input#key-quota {
    width: 40%;
    margin-bottom: 8px;
  }
  textarea {
    vertical-align: text-top;
    width: 80%;
    height: 200px;
    font: inherit;
    font-size: inherit;
    box-sizing: border-box;
  }
  button {
    font-family: inherit;
    font-size: 90%;
    background-color: #762f87;

    padding: 6px;
    line-height: 1.33;
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
    &:disabled {
      background-color: #888;
    }
  }
}

#stats {
  td {
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    border: 1px solid #aaa;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    &.apps {
      tr:nth-child(2) {
        font-size: 11px;
      }
    }
  }
}
