.app-list {
  overflow: auto; // Needed to make the background span everything on screen.
  padding: 0px 32px;
  @media #{$mobile} {
    padding: 0px 8px;
  }
  background-color: $applist-background-color;
  color: $applist-foreground-color;
  >h1 {
    font-size: 24pt;
    font-weight: 400;
    @media #{$mobile} {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .hide {
    // !important used to override other classes that might assign e.g. display: block
    display: none !important;
  }
  >.search-row {
    width: 100%;
    margin-bottom: 36px;
    @media #{$mobile} {
      margin-bottom: 0;
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 100px);
    }
    >img.search-icon {
      width: 24px;
      height: 24px;
      margin: 4px;
    }
    >input.search-bar {
      font-size: 16pt;
      background-color: $grainlist-searchbar-background-color;
      border: 1px solid $grainlist-searchbar-outline-color;
      &:focus {
        border: 1px solid $grainlist-searchbar-outline-color-focus;
      }
      @media #{$mobile} {
        width: calc(100% - 36px);
      }
    }
  }
  >.popular-container {
    // Restricts the visible portion of the "most used" section to a single row.
    display: block;
    height: 280px;
    overflow: hidden;
    @media #{$mobile} {
      height: 160px;
    }
  }
  >h2, >.popular-container>h2 {
    font-weight: 400;
    border-bottom: 1px solid $applist-rule-color;
    clear: both;
    @media #{$mobile} {
      margin-bottom: 8px;
    }
  }
  >.app-button, >.popular-container>.app-button {
    @extend %unstyled-button;
    cursor: pointer;
    float: left;
    display: block;
    // Browsers render button contents vertically-centered by default.
    // I can't figure out how to suggest that the browser align contents to the top instead, so I
    // specify position: relative here and position: absolute for the image and text label.
    // Strictly speaking, you're not supposed to have a <button> with a child <img>.  Oh well.
    position: relative;
    width: 148px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    @media #{$mobile} {
      width: 74px;
      height: 100px;
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 10px;
    }
    //box-shadow: 0 0 1px black;
    overflow: hidden;
    &.app-action {
    }
    &.dev-action {
      background-image: url("/devmode.png");
      background-size: 100% auto;
      background-color: #ccc;
    }
    >.app-icon {
      @extend %pseudo-img-tag;
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 128px;
      height: 128px;
      margin: 10px;
      @media #{$mobile} {
        width: 64px;
        height: 64px;
        margin: 5px;
      }
      border-radius: 6px;
      vertical-align: top;
      &.pseudoapp {
        background-color: $applist-pseudoapp-background-color;
        border: 1px $applist-pseudoapp-outline-color;
      }

      &.restore-icon {
        background-image: url('/restore-B7B7B7.svg');

        &:hover {
          background-image: url('/restore-5D5D5D.svg');
        }
      }
      &.upload-icon {
        background-image: url('/upload-B7B7B7.svg');

        &:hover {
          background-image: url('/upload-5D5D5D.svg');
        }
      }
      &.install-icon {
        background-image: url('/install-9E40B5.svg');

        &:hover {
          background-image: url('/install-6A237C.svg');
        }
      }
    }
    %apptext {
      @extend %overflow-ellipsis;
      position: absolute;
      left: 0px;
      width: 100%;
      vertical-align: top;
      text-align: center;
    }
    >.app-title, >.action-title {
      @extend %apptext;
      top: 148px;
      font-size: 12pt;
      @media #{$mobile} {
        top: 74px;
        font-size: 8pt;
      }
    }
    >.action-text {
      @extend %apptext;
      color: $applist-action-text-color;
      top: 168px;
      font-size: 11pt;
      @media #{$mobile} {
        top: 88px;
        font-size: 8pt;
      }
    }
  }
}

.main-content>.not-signed-up {
  max-width: 300px;
  background-color: white;
  margin: 32px auto;
  padding: 16px;
  border-radius: 4px;
  h1 { margin-top: 0; }
  p { margin-bottom: 0; }
}
