.app-list {
  overflow: auto; // Needed to make the background span everything on screen.
  padding: 0px 32px;
  background-color: $applist-background-color;
  color: $applist-foreground-color;
  >h1 {
    font-size: 24pt;
    font-weight: 400;
  }
  .hide {
    // !important used to override other classes that might assign e.g. display: block
    display: none !important;
  }
  >.search-row {
    width: 100%;
    margin-bottom: 36px;
    >img.search-icon {
      width: 24px;
      height: 24px;
      margin: 4px;
    }
    >input.search-bar {
      font-size: 16pt;
      background-color: $grainlist-searchbar-background-color;
      border: .5px solid $grainlist-searchbar-outline-color;
      &:focus {
        border: .5px solid $grainlist-searchbar-outline-color-focus;
      }
    }
  }
  >.popular-container {
    // Restricts the visible portion of the "most used" section to a single row.
    display: block;
    height: 280px;
    overflow: hidden;
  }
  >h2, >.popular-container>h2 {
    font-weight: 400;
    border-bottom: 1px solid $applist-rule-color;
    clear: both;
  }
  >.app-button, >.popular-container>.app-button {
    @extend %unstyled-button;
    cursor: pointer;
    float: left;
    display: block;
    // Browsers render button contents vertically-centered by default.
    // I can't figure out how to suggest that the browser align contents to the top instead, so I
    // specify position: relative here and position: absolute for the image and text label.
    // Strictly speaking, you're not supposed to have a <button> with a child <img>.  Oh well.
    position: relative;
    width: 148px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    //box-shadow: 0 0 1px black;
    overflow: hidden;
    &.app-action {
    }
    &.dev-action {
      background-image: url("/devmode.png");
      background-size: 100% auto;
      background-color: #ccc;
    }
    >.app-icon {
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 128px;
      height: 128px;
      margin: 10px;
      border-radius: 6px;
      vertical-align: top;
      &.pseudoapp {
        background-color: $applist-pseudoapp-background-color;
        border: 1px $applist-pseudoapp-outline-color;
      }
    }
    %apptext {
      @extend %overflow-ellipsis;
      position: absolute;
      left: 0px;
      width: 100%;
      vertical-align: top;
      text-align: center;
    }
    >.app-title, >.action-title {
      @extend %apptext;
      top: 148px;
      font-size: 12pt;
    }
    >.action-text {
      @extend %apptext;
      color: $applist-action-text-color;
      top: 168px;
      font-size: 11pt
    }
  }
}
