// Colors, mostly for the toolbar/navbar, but perhaps reusable elsewhere.

// The purple that we use for
$sandstorm-purple-color: #762F87;

// The color that we use to outline focused elements, for accessibility
$focus-outline-color: $sandstorm-purple-color;

////////  General shell elements
// Default shell background and text colors
$topbar-background-color: #191919;
$topbar-foreground-color: #9e9e9e;

// Colors for UI elements when hovered
$topbar-background-color-hover: #383838;
$topbar-foreground-color-hover: #ffffff;

// Colors for topbar and navbar entries when "active" (i.e. current tab)
$topbar-background-color-active: #efefef;
$topbar-foreground-color-active: #191919;

// Color for borders between topbar/navbar and navbar items
$topbar-border-color: #383838;



//////// Colors for the items in dropdowns from the topbar
$topbar-dropdown-background-color: #ffffff;
$topbar-dropdown-foreground-color: #383838; // Not sure this is right

$topbar-dropdown-background-color-hover: #efefef;
$topbar-dropdown-foreground-color-hover: #383838;

$topbar-dropdown-border-color: #c1c1c1;


//////// Default colors, which may be reused in other modules
$default-content-background-color: #efefef;
$default-content-foreground-color: #191919;
$default-table-header-background-color: #d3d3d3;
$default-table-header-foreground-color: #191919;
$default-table-header-background-color-hover: #dddddd;
$default-textinput-background-color: #ffffff;
$default-textinput-outline-color: #9e9e9e;
$default-textinput-outline-color-focus: #65468e;

//////// Grain list ("Open...") styles
$grainlist-background-color: $default-content-background-color;
$grainlist-foreground-color: $default-content-foreground-color;

$grainlist-searchbar-background-color: $default-textinput-background-color;
$grainlist-searchbar-outline-color: $default-textinput-outline-color;
$grainlist-searchbar-outline-color-focus: $default-textinput-outline-color-focus;

$grainlist-table-header-background-color: $default-table-header-background-color;
$grainlist-table-header-foreground-color: $default-table-header-foreground-color;
$grainlist-table-header-background-color-hover: $default-table-header-background-color-hover;
// icons fills should be #9e9e9e

$grainlist-table-row-background-color: #ffffff;
$grainlist-table-row-foreground-color: #5d5d5d;
$grainlist-table-row-background-color-hover: #e8e8e8;
$grainlist-table-row-action-background-color: lighten($sandstorm-purple-color, 53%);
$grainlist-table-row-action-background-color-hover: lighten($sandstorm-purple-color, 40%);
$grainlist-table-row-outline-color: #d3d3d3;

///////// App list ("New...") styles
$applist-background-color: $default-content-background-color;
$applist-foreground-color: $default-content-foreground-color;

$applist-action-text-color: #5d5d5d;

$applist-rule-color: #6d6d6d;
$applist-pseudoapp-background-color: #ffffff;
$applist-pseudoapp-outline-color: #d3d3d3;

///////// App details page styles
$app-details-background-color: $default-content-background-color;
$app-details-foreground-color: $default-content-foreground-color;

$app-details-searchbar-background-color: $default-textinput-background-color;
$app-details-searchbar-outline-color: $default-textinput-outline-color;
$app-details-searchbar-outline-color-focus: $default-textinput-outline-color-focus;
