.grain-list {
  overflow: auto;
  padding: 0px 32px;
  @media #{$mobile} {
    padding: 0px 8px;
  }
  background-color: $grainlist-background-color;
  color: $grainlist-foreground-color;
  >.non-usage-info {
    float: left;
    @media #{$mobile} {
      float: none;
    }
    >h1 {
      font-size: 24pt;
      font-weight: 400;
      @media #{$mobile} {
        display: inline-block;
        vertical-align: middle;
      }
    }
    >.search-row {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 36px;
      @media #{$mobile} {
        margin-bottom: 0;
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 100px);
      }
      >img.search-icon {
        width: 24px;
        height: 24px;
        margin: 4px;
      }
      >input.search-bar {
        font-size: 16pt;
        background-color: $grainlist-searchbar-background-color;
        border: 1px solid $grainlist-searchbar-outline-color;
        &:focus {
          border: 1px solid $grainlist-searchbar-outline-color-focus;
        }
        @media #{$mobile} {
          width: calc(100% - 36px);
        }
      }
    }
  }
  >.usage-info {
    float: right;
    vertical-align: top;
    margin: 4px;
    margin-top: 80px;
    padding: 8px;
    border-radius: 4px;
    background-color: white;
    >p { margin: 0; }
    @media #{$mobile} {
      float: none;
      margin-top: 8px;
    }
  }
  >table {
    width: 100%;
    padding: 0;
    margin: 8px 0 0 0;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.5);
    >thead>tr {
      background-color: $grainlist-table-header-background-color;
      color: $grainlist-table-header-foreground-color;
      font-weight: 600;
      border-bottom: 1px solid #aaa;
      >td {
        border: 1px solid white;
        /* interactivity disabled until we can sort by different column
        cursor:pointer;
        &:hover {
          background-color: $grainlist-table-header-background-color-hover;
        }
        */
        &.shared-or-owned {
          width: 110px;
          // The mobile viewport is too small to display this much text
          @media #{$mobile} {
            display: none;
          }
        }
      }
      >td.td-app-icon {
        padding-left: 16px;
      }
    }
    >tbody>tr {
      width: 100%;
      height: 32px;
      background-color: $grainlist-table-row-background-color;
      color: $grainlist-table-row-foreground-color;
      border-bottom: 1px solid $grainlist-table-row-outline-color;
      >td {
        cursor: pointer;
        &.td-app-icon {
          >.app-icon {
            @extend %pseudo-img-tag;
            width: 24px;
            height: 24px;
          }
          width: 48px;
          padding-left: 16px;
        }
        &.last-used {
          width: 100px;
        }
        &.shared-or-owned {
          width: 110px;
          // The mobile viewport is too small to display this much text
          @media #{$mobile} {
            display: none;
          }
        }
      }
      &.grain {
        cursor: pointer;
        &:hover {
          background-color: $grainlist-table-row-background-color-hover;
        }
      }
    }
  }
  >.no-grains {
    width: 100%;
    background-color: white;
    overflow: hidden;  // don't let margins escape box
    >p {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
