@media #{$mobile} {
  // Only show the menu button on mobile
  body>.menu-button {
    background-color: black;
    display: inline-block;
    vertical-align: top;
    background-image:url(/menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    width: 40px;
    height: 40px;
    padding: 4px;
    color: transparent;
    cursor: pointer;
    border-right: 1px solid #666;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
  }
  body>.menu-button:hover {
    background-color: #666;
  }
}

body>.topbar-update {
  position: fixed;
  width: 100%;
  height: 32px;
  text-align: center;
  background-color: #622;
  color: #fcc;
  z-index: 1000;
  cursor: pointer;
  font-weight: bold;
  line-height: 32px;

  @media #{$mobile} {
    line-height: 24px;
    height: 48px;
    left: 0;
    width: auto;
    right: 0;
  }
}

body>.topbar {
  font-weight: bold;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
  z-index: 100;
  overflow: hidden;

  line-height: 32px;
  height: 32px;
  background-color: black;
  color: #ccc;

  @media #{$mobile} {
    line-height: 48px;
    height: 48px;
    background-color: #eee;
    color: black;
    transition: height 0.2s;

    &.expanded {
      height: 100%;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
  }

  %topbar-button {
    // Common styling for buttons in the topbar (on desktop).

    @extend %unstyled-button;

    @media #{$desktop} {
      display: block;
      height: 100%;
      margin: 0;
      padding: 0;
      cursor: pointer;
      overflow: hidden;

      &:hover {
        background-color: #888;
      }

      &:focus {
        outline: none;
      }
    }
  }

  %icon-button {
    // Common styling for topbar buttons that are displayed as a bare icon with no text label
    // (on desktop).

    @extend %topbar-button;

    @media #{$desktop} {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 24px 24px;
      color: transparent;  // hide text
      width: 32px;
      position: relative;
    }
  }

  %mobile-icon-button {
    // Common styling for topbar buttons that are displayed as a bare icon with no text label
    // (on mobile).

    @extend %unstyled-button;

    @media #{$mobile} {
      display: block;
      margin: 0;
      padding: 0;
      cursor: pointer;
      overflow: hidden;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40px 40px;
      color: transparent;  // hide text
      width: 48px;
      height: 48px;

      &:hover {
        background-color: #888;
      }

      &:focus {
        outline: none;
      }
    }
  }

  %hamburger-menu-item {
    // Common styling for topbar items that are displayed as a hamburger menu item on mobile.

    @media #{$mobile} {
      display: block;
      width: 100%;
      background-position: 8px center;
      background-size: 32px 32px;
      background-repeat: no-repeat;
      background-color: transparent;
      color: black;
      text-align: left;
      padding-left: 48px;
      font-size: 14pt;
      height: 48px;
      font-weight: normal;
      font-family: sans-serif;
      text-decoration: none;

      &:hover {
        background-color: white;
      }
    }
  }

  >li {
    // Each "item" in the topbar is an <li>, so this style applies to all of them.

    display: inline-block;
    list-style-type: none;
    vertical-align: top;

    >button.show-popup {
      @extend %topbar-button;
    }

    @media #{$mobile} {
      display: block;
      float: none;
      width: 100%;
      height: 48px;
      border-bottom: 1px solid #ddd;
      padding: 0;
    }
  }

  >.homelink {
    >a { @extend %hamburger-menu-item; }

    @media #{$desktop} {
      padding-left: 32px;
      padding-right: 8px;
      background-image: url("/icon.png");
      background-repeat: no-repeat;
      background-position: 8px center;
      border-right: 1px solid #666;

      // Without this, Firefox renders the right-floats pushed down a line.
      float:left;

      // TODO(cleanup): Use of filter for brightness on hover is hacky and not very widely
      //   supported.
      -webkit-filter: brightness(0.75);
      filter: brightness(0.75);

      a {
        color: white;
        text-decoration: none;
      }

      &:hover {
        -webkit-filter: none;
        filter: none;
        background-color: #666;
      }
    }

    @media #{$mobile} {
      >a {
        background-image: url("/icon32.png");
      }
    }
  }

  >.title {
    padding-left: 8px;

    >span.editable {
      display: inline-block;
      padding: 0 8px;
      margin-left: -8px;

      &:hover {
        cursor: pointer;
        color: white;
        background-color: #888;
      }
    }

    @media #{$mobile} {
      background-color: black;
      color: #ccc;
      padding-left: 60px;
      font-size: 120%;
    }
  }

  >.grain-size {
    @media #{$mobile} {
      display: none;
    }
  }

  >.share>button.show-popup {
    @extend %topbar-button;
    @extend %hamburger-menu-item;

    @media #{$desktop} {
      background-image: url("/share.svg");
      background-position: left;
      background-repeat: no-repeat;
      border-radius: 4px;
      background-color: #428bca;
      color: white;
      padding-left: 26px;
      padding-right: 4px;
      height: 28px;
      line-height: 28px;
      font-size: 12pt;
      margin-top: 2px;

      &:hover {
        background-color: #428bca;
      }
    }

    @media #{$mobile} {
      background-image: url("/share-m.svg");
    }
  }

  // Buttons for misc grain actions.
  >li>button.grain-button, >.webkey>button.show-popup {
    @extend %icon-button;
    @extend %hamburger-menu-item;
  }
  @media #{$desktop} {
    >.delete>button    { background-image: url("/trash.svg"); }
    >.debug-log>button { background-image: url("/debug.svg"); }
    >.backup>button    { background-image: url("/download.svg"); }
    >.restart>button   { background-image: url("/restart.svg"); }
    >.webkey>button    { background-image: url("/key.svg"); }
  }
  @media #{$mobile} {
    >.delete>button    { background-image: url("/trash-m.svg"); }
    >.debug-log>button { background-image: url("/debug-m.svg"); }
    >.backup>button    { background-image: url("/download-m.svg"); }
    >.restart>button   { background-image: url("/restart-m.svg"); }
    >.webkey>button    { background-image: url("/key-m.svg"); }
  }

  >.admin-alert {
    @media #{$desktop} {
      float: right;
    }

    @media #{$mobile} {
      position: fixed;
      top: 0;
      right: 48px;
      width: 48px;
      height: 48px;
      text-align: center;
    }

    >button.show-popup {
      @extend %icon-button;
      @extend %mobile-icon-button;
    }

    .alert {
      background-color: #762f87;
      color: white;
      text-decoration: none;

      display: inline-block;
      padding-left: 8px;
      padding-right: 8px;
      margin-right: 8px;
    }

    .alert.countdown-second,
    .alert.countdown-now {
      // Turn red when there's less than a minute left.
      background-color: #e82538;
    }

    a:hover {
      background-color: #9d3aa5;
    }
  }

  >.notifications {
    @media #{$desktop} {
      float: right;
    }

    @media #{$mobile} {
      position: fixed;
      top: 0;
      right: 0;
      width: 48px;
      height: 48px;
    }

    >button.show-popup {
      @extend %icon-button;
      @extend %mobile-icon-button;

      background-image: url("/inbox.svg");

      >.count {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 16px;
        height: 16px;
        background-color: red;
        border-radius: 8px;
        color: white;
        line-height: 16px;
        text-align: center;
        font-size: 8pt;

        @media #{$mobile} {
          left: 4px;
          bottom: 8px;
        }
      }
    }
  }

  >.account {
    >button.show-popup { @extend %hamburger-menu-item; }

    @media #{$desktop} {
      float: right;
      display: block;

      >button.show-popup {
        padding: 0 8px;
      }
    }
    @media #{$mobile} {
      >a {
        font-weight: normal;
        font-family: sans-serif;
      }
    }
  }

  >.admin {
    >a { @extend %hamburger-menu-item; }
    @media #{$desktop} { display: none; }
  }

  >.about {
    >a { @extend %hamburger-menu-item; }
    @media #{$desktop} { display: none; }
  }
}

// =======================================================================================

body>.popup {
  // Popup windows hang off the topbar, usually appearing when a topbar item is clicked.

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;

  @media #{$mobile} {
    // Gray the background on mobile.
    background-color: rgba(0, 0, 0, 0.5);
  }

  >.frame {
    max-height: calc(100vh - 64px);
    min-width: 250px;
    line-height: normal;
    white-space: normal;
    background-color: white;
    font-weight: normal;
    color: black;
    width: 400px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;

    @media #{$desktop} {
      position: fixed;
      top: 32px;
      max-width: 50%;

      &::before {
        content: " ";
        position: absolute;
        top: -8px;

        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid white;
      }

      &.align-left::before {
        left: 42px;
      }

      &.align-right::before {
        right: 42px;
      }
    }

    @media #{$mobile} {
      position: static;
      margin: 64px auto 32px;
      font-size: 20px;
      width: 90%;
      border: 1px solid #ccc;
      overflow-y: auto;
    }

    >.close-popup {
      display: block;
      float: right;
      width: 32px;
      height: 32px;
      color: transparent;
      overflow: hidden;
      background-image: url("/close-m.svg");
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      border-radius: 16px;
      background-color: transparent;
      margin: 0;
    }

    >.close-popup:hover {
      background-color: #eee;
      cursor: pointer;
    }

    >.close-popup:focus {
      outline: none;
    }

    >h4 {
      margin: 0px;
      font-size: 14px;
      padding-left: 10px;
      line-height: 32px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 16px;

      @media #{$mobile} {
        font-size: 14pt;
      }
    }

    >h4.tabbed {
      border-bottom: none;
      margin-bottom: 0px;
    }

    >.footer {
      border-top: 1px solid #ccc;
      margin: 0px;
      padding-top: 5px;
      text-align: right;
      >.who-has-access {
        margin-right: 15px;
     }
    }

    .share-token-role {
      max-width: 45%;
    }
    table .share-token-role {
      max-width: 160px;
    }
    table.people, table.sharing-links {
      border: 1px solid #ddd;
      font-size: 10pt;
      width: 100%;
      border-collapse: collapse;
      tr {
        border-bottom: 1px solid #ddd;
      }
      ul {
         margin: 0;
      }
    }
    [data-obsolete=true] {
      display: none;
    }

    .emails {
       width: 50%;
    }
    .label, .personal-message {
      width: 100%;
    }
    .label-explanation {
      font-size: 8pt;
      font-style: italic;
    }

    input, button, .login-button {
      @media #{$mobile} { font-size: 15pt; }
    }

    >* {
      margin-left: 16px;
      margin-right: 16px;
    }

    >*:last-child {
      margin-bottom: 16px;
    }

    &.centered {
      margin: 0px auto;
      width: 600px;
      margin-left: calc(50% - 300px);
    }
  }

  &.account>.frame {
    font-size: inherit;
    width: 260px;
    padding-bottom: 16px;

    >a {
      display: block;
      margin: 0;
      padding: 8px 16px;
      color: black;
      text-decoration: underline;
      text-align: center;

      &:hover {
        background-color: #eee;
      }
    }

    // TODO(cleanup): Much of the below was brought it from Meteor's accounts-ui and needs cleanup.

    button.login {
      display: block;
      width: 228px;  // can't use "width: 100%" due to margin, but we know the exact width...
      box-sizing: border-box;

      margin-top: 4px;
      margin-bottom: 4px;

      cursor: pointer;
      padding: 4px 8px;

      font-size: 80%;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      line-height: 1.5;

      text-align: center;
      color: #fff;

      $login-buttons-color: #596595;
      $login-buttons-color-border: darken($login-buttons-color, 10%);
      $login-buttons-color-active: lighten($login-buttons-color, 10%);
      $login-buttons-color-active-border: darken($login-buttons-color-active, 10%);

      background: $login-buttons-color;
      border: 1px solid $login-buttons-color-border;

      border-radius: 4px;

      &:hover {
        background-color: $login-buttons-color-active;
      }
      &:active {
        background-color: $login-buttons-color-active;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2) inset;
      }

      &.login-button-disabled, &.login-button-disabled:active {
        color: #ddd;
        background-color: #aaa;
        border: 1px solid lighten(#aaa, 10%);
        box-shadow: none;
      }

      &.google { @extend %google-icon; }
      &.github { @extend %github-icon; }

      background-position: 6px center;
      background-repeat: no-repeat;
    }

    .login-image {
      display: inline-block;
      position: absolute;
      left: 6px;
      top: 6px;
      width: 16px;
      height: 16px;
    }

    .login-buttons-with-only-one-button {
      display: inline-block;
      .login-button { display: inline-block; }
      .login-text-and-button {
        display: inline-block;
      }
    }

    .login-display-name {
      display: inline-block;
      padding-right: 2px;
      line-height: 1.5;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    .loading {
      line-height: 1;
      background-image: url("data:image/gif;base64,R0lGODlhEAALAPQAAP///wAAANra2tDQ0Orq6gYGBgAAAC4uLoKCgmBgYLq6uiIiIkpKSoqKimRkZL6+viYmJgQEBE5OTubm5tjY2PT09Dg4ONzc3PLy8ra2tqCgoMrKyu7u7gAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCwAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQJCwAAACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQJCwAAACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA");
      width: 16px;
      background-position: center center;
      background-repeat: no-repeat;
    }

    label, .email .info {
      font-size: 80%;
      margin-top: 7px;
      margin-bottom: -2px;
    }

    .email .info {
      border-radius: 50%;
      padding: 0px 6px;
      float: right;
      cursor: pointer;
      background-color: #762f87;
      color: white;
    }

    label {
      // Bootstrap sets labels as 'display: block;'. Undo that.
      display: inline;
    }

    input[type=text], input[type=email], input[type=password] {
      box-sizing: border-box;
      width: 100%;
      padding: 4px;
      border: 1px solid #aaa;
      border-radius: 3px;
      line-height: 1;
    }

    .login-button-form-submit { margin-top: 8px; }
    .message { font-size: 80%; margin-top: 8px; line-height: 1.3; }
    .error-message { color: red; }
    .info-message { color: green; }
    .additional-link { font-size: 75%; }

    .accounts-close {
      position: absolute;
      top: 0;
      right: 5px;

      font-size: 20px;
      font-weight: bold;
      line-height: 20px;
      text-decoration: none;
      color: #000;
      opacity: 0.4;

      &:hover {
        opacity: 0.8;
      }
    }

    .or {
      text-align: center;
      .hline { text-decoration: line-through; color: lightgrey; }
      .or-text { font-weight: bold; }
    }

    p.troubleshooting-link {
      text-align: center;
      a {
        color: black;
      }
    }
  }
}
