@media #{$mobile} {
  // Only show the menu button on mobile
  body>.menu-button {
    background-color: black;
    display: inline-block;
    vertical-align: top;
    background-image:url(/menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    width: 40px;
    height: 40px;
    padding: 4px;
    color: transparent;
    cursor: pointer;
    border-right: 1px solid #666;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
  }
  body>.menu-button:hover {
    background-color: #666;
  }
}

body>.topbar-update {
  position: fixed;
  width: 100%;
  height: 32px;
  text-align: center;
  background-color: #622;
  color: #fcc;
  z-index: 1000;
  cursor: pointer;
  font-weight: bold;
  line-height: 32px;

  @media #{$mobile} {
    line-height: 24px;
    height: 48px;
    left: 0;
    width: auto;
    right: 0;
  }
}

body>.topbar {
  font-weight: bold;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
  z-index: 100;
  overflow: hidden;

  line-height: 32px;
  height: 32px;
  background-color: black;
  color: #ccc;

  @media #{$mobile} {
    line-height: 48px;
    height: 48px;
    background-color: #eee;
    color: black;
    transition: height 0.2s;

    &.expanded {
      height: 100%;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
  }

  %topbar-button {
    // Common styling for buttons in the topbar (on desktop).

    @extend %unstyled-button;

    @media #{$desktop} {
      display: block;
      height: 100%;
      margin: 0;
      padding: 0;
      cursor: pointer;
      overflow: hidden;

      &:hover {
        background-color: #888;
      }

      &:focus {
        outline: none;
      }
    }
  }

  %icon-button {
    // Common styling for topbar buttons that are displayed as a bare icon with no text label
    // (on desktop).

    @extend %topbar-button;

    @media #{$desktop} {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 24px 24px;
      color: transparent;  // hide text
      width: 32px;
      position: relative;
    }
  }

  %mobile-icon-button {
    // Common styling for topbar buttons that are displayed as a bare icon with no text label
    // (on mobile).

    @extend %unstyled-button;

    @media #{$mobile} {
      display: block;
      margin: 0;
      padding: 0;
      cursor: pointer;
      overflow: hidden;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40px 40px;
      color: transparent;  // hide text
      width: 48px;
      height: 48px;

      &:hover {
        background-color: #888;
      }

      &:focus {
        outline: none;
      }
    }
  }

  %hamburger-menu-item {
    // Common styling for topbar items that are displayed as a hamburger menu item on mobile.

    @media #{$mobile} {
      display: block;
      width: 100%;
      background-position: 8px center;
      background-size: 32px 32px;
      background-repeat: no-repeat;
      background-color: transparent;
      color: black;
      text-align: left;
      padding-left: 48px;
      font-size: 14pt;
      height: 48px;
      font-weight: normal;
      font-family: sans-serif;
      text-decoration: none;

      &:hover {
        background-color: white;
      }
    }
  }

  >li {
    // Each "item" in the topbar is an <li>, so this style applies to all of them.

    display: inline-block;
    list-style-type: none;
    vertical-align: top;

    >button.show-popup {
      @extend %topbar-button;
    }

    @media #{$mobile} {
      display: block;
      float: none;
      width: 100%;
      height: 48px;
      border-bottom: 1px solid #ddd;
      padding: 0;
    }
  }

  >.homelink {
    >a { @extend %hamburger-menu-item; }

    @media #{$desktop} {
      padding-left: 32px;
      padding-right: 8px;
      background-image: url("/icon.png");
      background-repeat: no-repeat;
      background-position: 8px center;
      border-right: 1px solid #666;

      // Without this, Firefox renders the right-floats pushed down a line.
      float:left;

      // TODO(cleanup): Use of filter for brightness on hover is hacky and not very widely
      //   supported.
      -webkit-filter: brightness(0.75);
      filter: brightness(0.75);

      a {
        color: white;
        text-decoration: none;
      }

      &:hover {
        -webkit-filter: none;
        filter: none;
        background-color: #666;
      }
    }

    @media #{$mobile} {
      >a {
        background-image: url("/icon32.png");
      }
    }
  }

  >.title {
    padding-left: 8px;

    >span.editable {
      display: inline-block;
      padding: 0 8px;
      margin-left: -8px;

      &:hover {
        cursor: pointer;
        color: white;
        background-color: #888;
      }
    }

    @media #{$mobile} {
      background-color: black;
      color: #ccc;
      padding-left: 60px;
      font-size: 120%;
    }
  }

  >.grain-size {
    @media #{$mobile} {
      display: none;
    }
  }

  >.share>button.show-popup {
    @extend %topbar-button;
    @extend %hamburger-menu-item;

    @media #{$desktop} {
      background-image: url("/share.svg");
      background-position: left;
      background-repeat: no-repeat;
      border-radius: 4px;
      background-color: #428bca;
      color: white;
      padding-left: 26px;
      padding-right: 4px;
      height: 28px;
      line-height: 28px;
      font-size: 12pt;
      margin-top: 2px;

      &:hover {
        background-color: #428bca;
      }
    }

    @media #{$mobile} {
      background-image: url("/share-m.svg");
    }
  }

  // Buttons for misc grain actions.
  >li>button.grain-button, >.webkey>button.show-popup {
    @extend %icon-button;
    @extend %hamburger-menu-item;
  }
  @media #{$desktop} {
    >.delete>button    { background-image: url("/trash.svg"); }
    >.debug-log>button { background-image: url("/debug.svg"); }
    >.backup>button    { background-image: url("/download.svg"); }
    >.restart>button   { background-image: url("/restart.svg"); }
    >.webkey>button    { background-image: url("/key.svg"); }
    >.who-has-access img { width: 20px; }
  }
  @media #{$mobile} {
    >.delete>button    { background-image: url("/trash-m.svg"); }
    >.debug-log>button { background-image: url("/debug-m.svg"); }
    >.backup>button    { background-image: url("/download-m.svg"); }
    >.restart>button   { background-image: url("/restart-m.svg"); }
    >.webkey>button    { background-image: url("/key-m.svg"); }
  }

  >.admin-alert {
    @media #{$desktop} {
      float: right;
    }

    @media #{$mobile} {
      position: fixed;
      top: 0;
      right: 48px;
      width: 48px;
      height: 48px;
      text-align: center;
    }

    >button.show-popup {
      @extend %icon-button;
      @extend %mobile-icon-button;
    }

    .alert {
      background-color: #762f87;
      color: white;
      text-decoration: none;

      display: inline-block;
      padding-left: 8px;
      padding-right: 8px;
      margin-right: 8px;
    }

    .alert.countdown-second,
    .alert.countdown-now {
      // Turn red when there's less than a minute left.
      background-color: #e82538;
    }

    a:hover {
      background-color: #9d3aa5;
    }
  }

  >.notifications {
    @media #{$desktop} {
      float: right;
    }

    @media #{$mobile} {
      position: fixed;
      top: 0;
      right: 0;
      width: 48px;
      height: 48px;
    }

    >button.show-popup {
      @extend %icon-button;
      @extend %mobile-icon-button;

      background-image: url("/notification.svg");

      >.count {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 16px;
        height: 16px;
        background-color: red;
        border-radius: 8px;
        color: white;
        line-height: 16px;
        text-align: center;
        font-size: 8pt;

        @media #{$mobile} {
          left: 4px;
          bottom: 8px;
        }
      }
    }
  }

  >.account {
    >button.show-popup {
      @extend %hamburger-menu-item;

      >a.expiring-soon {
        color: #e82538;
      }
    }

    @media #{$desktop} {
      float: right;
      display: block;

      >button.show-popup {
        padding: 0 8px;
      }
    }
    @media #{$mobile} {
      >a {
        font-weight: normal;
        font-family: sans-serif;
      }
    }
  }

  >.admin {
    >a { @extend %hamburger-menu-item; }
    @media #{$desktop} { display: none; }
  }

  >.about {
    >a { @extend %hamburger-menu-item; }
    @media #{$desktop} { display: none; }
  }
}

// =======================================================================================

body>.popup.who-has-access>.frame {
  width: 500px;
}

body>.popup {
  // Popup windows hang off the topbar, usually appearing when a topbar item is clicked.

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;

  @media #{$mobile} {
    // Gray the background on mobile.
    background-color: rgba(0, 0, 0, 0.5);
  }

  >.frame {
    max-height: calc(100vh - 64px);
    min-width: 250px;
    line-height: normal;
    white-space: normal;
    background-color: white;
    font-weight: normal;
    color: black;
    width: 400px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;

    @media #{$desktop} {
      position: fixed;
      top: 32px;
      max-width: 50%;

      &::before {
        content: " ";
        position: absolute;
        top: -8px;

        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid white;
      }

      &.align-left::before {
        left: 42px;
      }

      &.align-right::before {
        right: 42px;
      }
    }

    @media #{$mobile} {
      position: static;
      margin: 64px auto 32px;
      font-size: 20px;
      width: 90%;
      border: 1px solid #ccc;
      overflow-y: auto;
    }

    >.close-popup {
      display: block;
      float: right;
      width: 32px;
      height: 32px;
      color: transparent;
      overflow: hidden;
      background-image: url("/close-m.svg");
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      border-radius: 16px;
      background-color: transparent;
      margin: 0;
    }

    >.close-popup:hover {
      background-color: #eee;
      cursor: pointer;
    }

    >.close-popup:focus {
      outline: none;
    }

    >h4 {
      margin: 0px;
      font-size: 14px;
      padding-left: 10px;
      line-height: 32px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 16px;

      @media #{$mobile} {
        font-size: 14pt;
      }
    }

    input, button, .login-button {
      @media #{$mobile} { font-size: 15pt; }
    }

    >* {
      margin-left: 16px;
      margin-right: 16px;
    }

    >*:last-child {
      margin-bottom: 16px;
    }

    &.centered {
      @media #{$desktop} {
        margin: 0px auto;
        width: 600px;
        margin-left: calc(50% - 300px);
      }
    }
  }

  &.share>.frame, &.who-has-access>.frame {
    $popup-background-color: #ededed;

    >h4 {
      text-transform: uppercase;
      background-color: $popup-background-color;
      margin-bottom: 0;
      padding: 10px 20px;
    }

    >h4.share-with-others {
      border-bottom: none;
      padding-bottom: 30px;
    }
    >h4.who-has-access {
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc;
    }

    button.who-has-access {
      @extend %unstyled-button;
      cursor: pointer;
    }

    [data-which-tab=send-invite]>.send-invite>h5,
    [data-which-tab=sharable-link]>.sharable-link>h5 {
      background-color: white;
      border-bottom: 1px solid white;
      // TODO(cleanup): It would be better to use z-index for this.
    }

    .share-tabs {
      padding: 10px;
      border-top: 1px solid #ccc;
      position: relative;
      margin: 0;
      section {
        margin-left: 16px;
        margin-right: 16px;
      }
    }
    [data-which-tab=send-invite]>.sharable-link>.tab-content,
    [data-which-tab=sharable-link]>.send-invite>.tab-content {
      display: none;
    }
    section>h5.tab-top {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background-color: #f7f7f7;
      border: 1px solid #ccc;
      border-bottom: none;
      position: absolute;
      margin: 0;
      padding: 3px;
      width: 45%;
      text-align: center;
      top: -26px;
      background-position: 15px 2px, left;
      background-size: 20px, 20px;
      background-repeat: no-repeat;
      cursor: pointer;
    }
    section.send-invite>h5.tab-top {
      left: 2%;
      background-image: url(/email-m.svg);
    }
    section.sharable-link>h5.tab-top {
      right: 2%;
      background-image: url(/link-m.svg);
    }

    button.reset-invite, button.reset-share-token {
      @extend %unstyled-button;
      cursor: pointer;
    }

    .button-container {
      position: relative;
      margin-top: 5px;
      margin-bottom: 45px;
      margin-top: 10px;
    }
    .share-tabs form button {
      @extend %unstyled-button;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 5px 16px;
      font-size: 10pt;
      position: absolute;
      right: 0;
      cursor: pointer;
      text-transform: uppercase;
    }
    .share-token-role {
      width: 40%;
    }
    table .share-token-role {
      max-width: 160px;
    }
    div.tables-container {
      position: relative;
      overflow-y: auto;
      overflow-x: hidden; // A vertical scrollbar can cause horizontal overflow.
      max-height: calc(100vh - 130px);
      // HACK. This should be computed from the max-height of the containing div. Is that even
      // possible?
    }
    table.people, table.sharing-links {
      border: 1px solid #ddd;
      border-right: none;
      border-left: none;
      font-size: 10pt;
      width: 100%;
      border-collapse: collapse;
      tr {
        border-bottom: 1px solid #ddd;
      }
      ul {
         margin: 0;
      }
    }
    [data-obsolete=true] {
      display: none;
    }

    select {
      background-color: white;
      height: 25px;
      text-transform: uppercase;
      float: right;
    }
    input, textarea, select {
      border: 1px solid #aaa;
      padding: 4px;
      border-radius: 2px;
      vertical-align: top;
    }

    .emails {
      width: 47%;
    }
    .label, .personal-message {
      width: 100%;
      box-sizing: border-box;
    }
    .personal-message {
      height: 100px;
    }
    .label-explanation {
      font-size: 8pt;
      font-style: italic;
    }

    .inline-icon { width: 20px; }

    >.footer {
      background-color: $popup-background-color;
      border-top: 1px solid #ccc;
      margin: 0px;
      padding-top: 5px;
      padding-bottom: 10px;
      text-align: right;
      font-size: 10pt;
      >.who-has-access {
        margin-right: 15px;
      }
    }
  }
}
