@media #{$mobile} {
  // Only show the menu button on mobile
  body>.menu-button {
    background-color: $topbar-background-color;
    display: inline-block;
    vertical-align: top;
    background-image:url(/menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    width: 40px;
    height: 40px;
    padding: 4px;
    color: transparent;
    cursor: pointer;
    border-right: 1px solid #666;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
  }
  body>.menu-button:hover {
    background-color: $topbar-background-color-hover;
  }
}

body>.topbar-update {
  position: fixed;
  width: 100%;
  height: 32px;
  text-align: center;
  background-color: #622;
  color: #fcc;
  z-index: 1000;
  cursor: pointer;
  font-weight: bold;
  line-height: 32px;

  @media #{$mobile} {
    line-height: 24px;
    height: 48px;
    left: 0;
    width: auto;
    right: 0;
  }
}

body>.topbar {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
  z-index: 100;

  line-height: 32px;
  height: 32px;
  background-color: $topbar-background-color;
  color: #ccc;

  @media #{$mobile} {
    line-height: 48px;
    height: 48px;
    // TODO(now): figure out if these colors should be different
    //background-color: #eee;
    //color: black;
    transition: height 0.2s;
    overflow: hidden;

    &.expanded {
      height: 100%;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
  }

  %topbar-button {
    // Common styling for buttons in the topbar (on desktop).

    @extend %unstyled-button;

    @media #{$desktop} {
      display: block;
      height: 100%;
      margin: 0;
      padding: 0;
      cursor: pointer;
      overflow: hidden;

      &:hover {
        background-color: $topbar-background-color-hover;
      }

      &:focus {
        outline: none;
      }
    }
  }

  %icon-button {
    // Common styling for topbar buttons that are displayed as a bare icon with no text label
    // (on desktop).

    @extend %topbar-button;

    @media #{$desktop} {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 24px 24px;
      color: transparent;  // hide text
      width: 32px;
      position: relative;
    }
  }

  %mobile-icon-button {
    // Common styling for topbar buttons that are displayed as a bare icon with no text label
    // (on mobile).

    @extend %unstyled-button;

    @media #{$mobile} {
      display: block;
      margin: 0;
      padding: 0;
      cursor: pointer;
      overflow: hidden;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40px 40px;
      color: transparent;  // hide text
      width: 48px;
      height: 48px;

      &:hover {
        background-color: $topbar-background-color-hover;
      }

      &:focus {
        outline: none;
      }
    }
  }

  %hamburger-menu-item {
    // Common styling for topbar items that are displayed as a hamburger menu item on mobile.
    box-sizing: border-box;
    @media #{$desktop} {
      height: $topbar-height-desktop;
    }

    @media #{$mobile} {
      display: block;
      width: 100%;
      background-position: 8px center;
      background-size: 32px 32px;
      background-repeat: no-repeat;
      background-color: transparent;
      text-align: left;
      padding-left: 48px;
      font-size: 14pt;
      height: $topbar-height-mobile;
      font-weight: normal;
      text-decoration: none;

      &:hover {
        background-color: $topbar-background-color-hover;
      }
    }
  }

  >ul>li, >ul>ul>li, >ul>ul>ul>li {
    // Each "item" in the topbar is an <li>, so this style applies to all of them.

    display: inline-block;
    list-style-type: none;
    vertical-align: top;

    >button.show-popup {
      @extend %topbar-button;
    }

    @media #{$mobile} {
      display: block;
      float: none;
      width: 100%;
      height: 48px;
      border-bottom: 1px solid #ddd;
      padding: 0;
    }
  }

  >.menubar {
    padding-left: 0;
    margin-left: 0;
    box-sizing: border-box;
    border-bottom: 1px solid $topbar-border-color;
    overflow: hidden;
    @media #{$desktop} {
      height: $topbar-height-desktop;
    }

    >.toggle-navbar {
      cursor: pointer;

      >button {
        @extend %unstyled-button;
        @extend %hamburger-menu-item;
        cursor: pointer;
        margin: 0px;
        @media #{$desktop} {
          height: $topbar-height-desktop;
        }
        &:focus {
          outline: none;
        }
      }

      @media #{$desktop} {
        padding-left: 32px;
        padding-right: 8px;

        background-image: url("/icon.png"), url("/down.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: 8px center, 8px 24px;
        background-size: auto, 16px 8px;
        border-right: 1px solid #666;

        // Without this, Firefox renders the right-floats pushed down a line.
        float:left;

        // TODO(cleanup): Use of filter for brightness on hover is hacky and not very widely
        //   supported.

        &:hover {
          -webkit-filter: none;
          filter: none;
          background-color: $topbar-background-color-hover;
        }

        // Allow the LI to feel "disabled", in which case, it does not
        // visually respond to hover.
        &.disabled {
          &:hover {
            background-color: $topbar-background-color;
          }
        }
      }

      @media #{$mobile} {
        display: none;
        >a {
          background-image: url("/icon32.png");
        }
      }
    }

    >.title {
      padding-left: 8px;
      overflow: hidden;
      @media #{$desktop} {
        // Heuristically try to prevent the title from bumping everything else off the top bar.
        // The size of 700px was empirically found to provide enough space for "everything else".
        max-width: calc(100% - 700px);
      }
      @media #{$mobile} {
        width: 100%; // needs to span the whole row because the border-bottom is needed to draw
                     // the horizontal rule when the menu is expanded
        background-color: $topbar-background-color;
        color: $topbar-foreground-color;
        padding-left: 56px;
        font-size: 120%;
      }

      >span.editable {
        white-space: nowrap;
        text-overflow: ellipsis;  // Doesn't seem to work since size is dynamic. Left here in vain.
        overflow: hidden;
        display: inline-block;
        padding: 0 8px;
        margin-left: -8px;
        @media #{$desktop} {
          min-height: $topbar-height-desktop;
        }
        @media #{$mobile} {
          min-height: $topbar-height-mobile;
          max-width: calc(100% - 150px);
        }

        &:hover {
          cursor: pointer;
          color: $topbar-foreground-color-hover;
          background-color: $topbar-background-color-hover;
        }
      }
    }

    >.grain-size {
      @media #{$mobile} {
        display: none;
      }
    }

    >.share>button.show-popup {
      @extend %topbar-button;
      @extend %hamburger-menu-item;

      background-image: url("/share.svg");
      background-repeat: no-repeat;
      background-position: 8px center;

      @media #{$desktop} {
        background-position: left;
        background-color: #762f87;
        color: #cccccc; // Have the text match the icon.
                        // This is the single place the button text is visible.
        padding-left: 32px;
        padding-right: 8px;
        height: 32px;
        line-height: 28px;
        font-size: 12pt;

        &:hover {
          background-color: lighten(#762f87, 8);
        }
      }
    }

    // Buttons for misc grain actions.
    >li>button.grain-button, >.webkey>button.show-popup {
      @extend %icon-button;
      @extend %hamburger-menu-item;
    }
    >.delete>button    { background-image: url("/trash.svg"); }
    >.debug-log>button { background-image: url("/debug.svg"); }
    >.backup>button    { background-image: url("/download.svg"); }
    >.restart>button   { background-image: url("/restart.svg"); }
    >.webkey>button    { background-image: url("/key.svg"); }
    >.who-has-access img { width: 20px; }

    >.admin-alert {
      @media #{$desktop} {
        float: right;
      }

      @media #{$mobile} {
        position: fixed;
        top: 0;
        right: 48px;
        width: 48px;
        height: 48px;
        text-align: center;
      }

      >button.show-popup {
        @extend %icon-button;
        @extend %mobile-icon-button;
      }

      .alert {
        background-color: #762f87;
        color: white;
        text-decoration: none;

        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
        margin-right: 8px;
      }

      .alert.countdown-second,
      .alert.countdown-now {
        // Turn red when there's less than a minute left.
        background-color: #e82538;
      }

      a:hover {
        background-color: #9d3aa5;
      }
    }

    >.notifications {
      @media #{$desktop} {
        float: right;
      }

      @media #{$mobile} {
        position: fixed;
        top: 0;
        right: 0;
        width: 48px;
        height: 48px;
        background-color: $topbar-background-color; // needed to cover an overflowing title
      }

      >button.show-popup {
        @extend %icon-button;
        @extend %mobile-icon-button;

        background-image: url("/notification.svg");

        >.count {
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 16px;
          height: 16px;
          background-color: red;
          border-radius: 8px;
          color: white;
          line-height: 16px;
          text-align: center;
          font-size: 8pt;

          @media #{$mobile} {
            left: 4px;
            bottom: 8px;
          }
        }
      }
    }

    >.account {
      >button.show-popup {
        @extend %hamburger-menu-item;
        >a.expiring-soon {
          color: #e82538;
        }
      }

      @media #{$desktop} {
        float: right;
        display: block;

        >button.show-popup {
          >a {
            padding: 0 8px;
            display: block;

            &.highlight {
              background-color: #762f87;
              color: white;
            }
          }
        }
      }
      @media #{$mobile} {
        >a {
          font-weight: normal;
        }
      }
    }
  }

  >.navbar {
    @media #{$desktop} {
      &.hide-desktop {
        // !important used to override other classes that might assign e.g. display: block
        display: none !important;
      }
    }
    @media #{$desktop} {
      position: fixed;
      top: $topbar-height-desktop;
      bottom: 0px;
      left: 0px;
      width: $navbar-width-desktop;
      background-color: #303030;
      color: #606060;
      li {
        line-height: 32px;
        height: 32px;
        display: block;
        position: relative;
        border-bottom: 1px solid $topbar-border-color;
        margin: 0;
        box-sizing: border-box;
        list-style-type: none;
        a {
          display: block;
          box-sizing: border-box;
          min-height: 32px;
          padding-left: 32px;
          text-decoration: none;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          &, &:visited, &:active, &:hover {
            color: inherit;
            outline: 0px;
          }
        }
        &.navitem-open-grain, &.navitem-create-grain {
          font-size: 150%;
          line-height: 48px;
          height: 48px;
          background-color: $topbar-background-color;
          color: $topbar-foreground-color;
          &:hover {
            background-color: $topbar-background-color-hover;
            color: $topbar-foreground-color-hover;
          }
          &.current, &.current:hover {
            background-color: $topbar-background-color-active;
            color: $topbar-foreground-color-active;
          }
          // Make the "Open" and "New" verbs align with the start
          // of the app icon.
          a {
            padding-left: 4px;
          }
        }
      }
    }
    @media #{$mobile} {
      position: relative;
      li {
        font-size: 14pt;
        line-height: 48px;
        height: 48px;
        display: block;
        position: relative;
        border-bottom: 1px solid #676767;
        margin: 0;
        box-sizing: border-box;
        a {
          display: block;
          box-sizing: border-box;
          padding-left: 48px;
          text-decoration: none;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          &, &:visited, &:active, &:hover {
            color: inherit;
            outline: 0px;
          }
        }
      }
    }
    margin: 0;
    padding: 0;
    z-index: 100;
    >ul.navbar-grains {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 96px;
      bottom: 0px;
      left: 0px;
      width: 200px;
      //height: 100%; // TODO: fix this, it should be 100% - (height of Open + New)
      overflow-y: auto;
      >li.navitem-grain {
        a {
          padding-right: 32px;
        }
        background-color: $topbar-background-color;
        color: $topbar-foreground-color;
        &:hover {
          background-color: $topbar-background-color-hover;
          color: $topbar-foreground-color-hover;
        }
        &.current, &.current:hover {
          background-color: $topbar-background-color-active;
          color: $topbar-foreground-color-active;
        }
        .app-icon {
          @extend %pseudo-img-tag;
          position: absolute;
          top: 2px;
          left: 2px;
          width: 24px;
          height: 24px;
          margin: 2px;
        }
        .close-button {
          @extend %unstyled-button;
          cursor: pointer;
          box-sizing: border-box;
          position: absolute;
          top: 1px;
          right: 0px;
          width: 24px;
          height: 24px;
          margin: 2px;
          display: block;
          background-image: url("/close.svg");
          border: 1px transparent;
          border-radius: 4px;
          &:hover {
            border: 1px solid $topbar-foreground-color-hover;
          }
        }
      }
    }
  }
}

body>.topbar.show-navbar>.menubar>.toggle-navbar {
  @media #{$desktop} {
    background-image: url("/icon.png"), url("/up.svg");
  }
}

// =======================================================================================

body>.popup.who-has-access>.frame {
  width: 500px;
}

body>.popup {
  // Popup windows hang off the topbar, usually appearing when a topbar item is clicked.

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;

  @media #{$mobile} {
    // Gray the background on mobile.
    background-color: rgba(0, 0, 0, 0.5);
  }

  >.frame {
    max-height: calc(100vh - 64px);
    min-width: 250px;
    line-height: normal;
    white-space: normal;
    background-color: white;
    font-weight: normal;
    color: black;
    width: 400px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;

    @media #{$desktop} {
      position: fixed;
      top: 32px;
      max-width: 50%;

      &::before {
        content: " ";
        position: absolute;
        top: -8px;

        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid white;
      }

      &.align-left::before {
        left: 41px;
      }

      &.align-right::before {
        right: 41px;
      }
    }

    @media #{$mobile} {
      position: static;
      margin: 64px auto 32px;
      font-size: 20px;
      width: 90%;
      border: 1px solid #ccc;
      overflow-y: auto;
    }

    >.close-popup {
      display: block;
      float: right;
      width: 32px;
      height: 32px;
      color: transparent;
      overflow: hidden;
      background-image: url("/close-m.svg");
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      border-radius: 16px;
      background-color: transparent;
      margin: 0;
    }

    >.close-popup:hover {
      background-color: #eee;
      cursor: pointer;
    }

    >.close-popup:focus {
      outline: none;
    }

    >h4 {
      margin: 0px;
      font-size: 14px;
      padding-left: $topbar-popup-padding;
      line-height: 32px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 16px;

      @media #{$mobile} {
        font-size: 14pt;
      }
    }

    input, button, .login-button {
      @media #{$mobile} { font-size: 15pt; }
    }

    >* {
      margin-left: $topbar-popup-padding;
      margin-right: $topbar-popup-padding;
    }

    >*:last-child {
      margin-bottom: $topbar-popup-padding;
    }

    &.centered {
      @media #{$desktop} {
        margin: 0px auto;
        width: 600px;
        margin-left: calc(50% - 300px);
      }
    }
  }

  &.share>.frame, &.who-has-access>.frame {
    $popup-background-color: #ededed;

    >h4 {
      text-transform: uppercase;
      background-color: $popup-background-color;
      margin-bottom: 0;
      padding: $topbar-popup-padding 20px;
    }

    >h4.share-with-others {
      border-bottom: none;
      padding-bottom: 30px;
    }
    >h4.who-has-access {
      padding-bottom: $topbar-popup-padding;
      border-bottom: 1px solid #ccc;
    }

    button.who-has-access {
      @extend %unstyled-button;
      cursor: pointer;
    }

    [data-which-tab=send-invite]>.send-invite>h5,
    [data-which-tab=sharable-link]>.sharable-link>h5 {
      background-color: white;
      border-bottom: 1px solid white;
      // TODO(cleanup): It would be better to use z-index for this.
    }

    .share-tabs {
      padding: $topbar-popup-padding;
      border-top: 1px solid #ccc;
      position: relative;
      margin: 0;
      section {
        margin-left: 16px;
        margin-right: 16px;
      }
    }
    [data-which-tab=send-invite]>.sharable-link>.tab-content,
    [data-which-tab=sharable-link]>.send-invite>.tab-content {
      display: none;
    }
    section>h5.tab-top {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background-color: #f7f7f7;
      border: 1px solid #ccc;
      border-bottom: none;
      position: absolute;
      margin: 0;
      padding: 3px;
      width: 45%;
      text-align: center;
      font-size: 14px; // Size must be the same on mobile and desktop for correct absolute position.
      top: -26px;
      background-position: 15px 2px, left;
      background-size: 20px, 20px;
      background-repeat: no-repeat;
      cursor: pointer;
    }
    section.send-invite>h5.tab-top {
      left: 2%;
      background-image: url(/email-m.svg);
    }
    section.sharable-link>h5.tab-top {
      right: 2%;
      background-image: url(/link-m.svg);
    }

    button.reset-invite, button.reset-share-token {
      @extend %unstyled-button;
      cursor: pointer;
    }

    .button-container {
      position: relative;
      margin-top: 5px;
      margin-bottom: 45px;
      margin-top: 10px;
    }
    .share-tabs form button {
      @extend %unstyled-button;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 5px 16px;
      font-size: 10pt;
      position: absolute;
      right: 0;
      cursor: pointer;
      text-transform: uppercase;
    }
    .share-token-role {
      width: 40%;
    }
    table .share-token-role {
      max-width: 160px;
    }
    div.tables-container {
      position: relative;
      overflow-y: auto;
      overflow-x: hidden; // A vertical scrollbar can cause horizontal overflow.
      max-height: calc(100vh - 130px);
      // HACK. This should be computed from the max-height of the containing div. Is that even
      // possible?
    }
    table.people, table.sharing-links {
      border: 1px solid #ddd;
      border-right: none;
      border-left: none;
      font-size: 10pt;
      width: 100%;
      border-collapse: collapse;
      tr {
        border-bottom: 1px solid #ddd;
      }
      ul {
         margin: 0;
      }
    }
    [data-obsolete=true] {
      display: none;
    }

    select {
      background-color: white;
      height: 25px;
      text-transform: uppercase;
      float: right;
    }
    input, textarea, select {
      border: 1px solid #aaa;
      padding: 4px;
      border-radius: 2px;
      vertical-align: top;
    }

    .emails {
      width: 47%;
    }
    .label, .personal-message {
      width: 100%;
      box-sizing: border-box;
    }
    .personal-message {
      height: 100px;
    }
    .label-explanation {
      font-size: 8pt;
      font-style: italic;
    }

    .inline-icon { width: 20px; }

    >.footer {
      background-color: $popup-background-color;
      border-top: 1px solid #ccc;
      margin: 0px;
      padding-top: 5px;
      padding-bottom: $topbar-popup-padding;
      text-align: right;
      font-size: 10pt;
      >.who-has-access {
        margin-right: 15px;
      }
    }
  }
}
