/* CSS declarations go here */

html {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

#topbar, #topbar-left, #topbar-right {
  background-color: black;
  color: #ccc;
  font-weight: 600;
  line-height: 32px;
}

#topbar {
  position: absolute;
  width: 100%;
  height: 32px;
  text-align: center;
  z-index: -1;
}

#topbar-left {
  float: left;
  height: 32px;
}

#topbar-right {
  float: right;
  height: 32px;
}

img.icon {
  height: 16px;
  padding: 0 8px;
}

img.photo {
  height: 30px;
  padding: 0 8px;
}

img {
  vertical-align: middle;
}

#app, #install {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 2px solid #ccc;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin: 0;
  padding: 0;
  background-color: white;
  position: fixed;
  left: 0;
  width: 100%;
  top: 32px;
  bottom: 0px;
  color: black;
}

#app iframe {
  border: none;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

input.search {
  background-image: url('search.svg');
  background-repeat: no-repeat;
  background-position: 4px 50%;
  border: none;
  padding-left: 24px;
  margin-left: 8px;
  height: 20px;
  border-radius: 2px;
}

div.popup {
  display: none;
  position: absolute;
  border: 2px solid #ccc;
  border-radius: 6px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 8px;
  font-size: 85%;
  line-height: normal;
  min-width: 250px;
}

div.popup h1 {
  font-size: 125%;
  font-weight: 600;
  text-align: center;
  border-bottom: 2px solid #ccc;
  margin: 4px;
}

div.popup hr {
  border: none;
  border-bottom: 2px solid #ccc;
  margin: 4px;
}

div.popup h2 {
  font-size: 110%;
  font-weight: 600;
  margin: 4px;
}

#install li .progress {
  display: none;
}

#install #step-confirm .confirm-form { display: none; }

#install.instep-download #step-download { font-weight: bold; }
#install.instep-verify   #step-verify   { font-weight: bold; }
#install.instep-unpack   #step-unpack   { font-weight: bold; }
#install.instep-analyze  #step-analyze  { font-weight: bold; }
#install.instep-confirm  #step-confirm  { font-weight: bold; }
#install.instep-run      #step-run      { font-weight: bold; }

#install.instep-download #step-download .progress { display: inline; }
#install.instep-verify   #step-verify   .progress { display: inline; }
#install.instep-unpack   #step-unpack   .progress { display: inline; }
#install.instep-analyze  #step-analyze  .progress { display: inline; }
#install.instep-confirm  #step-confirm  .confirm-form { display: block; }
