body {
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  font-size: 110%;
  line-height: 1.5;
  color: #524444;
  margin: 0;
}

h1, h2, h3 {
  font-weight: 600;
}

b {
  font-weight: 600;
}

a {
  color: #428bca;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: #0094ff;
  font-weight: 600;
  text-decoration: none;
}

svg {
  width: 400px;
  height: 300px;
}

.center-block {
  width: 800px;
  margin: 8px auto;
}

header {
  background-color: #f3ebe0;
  line-height: 1;
  padding: 32px 0 0;
  margin: 0;
  margin-bottom: 64px;
/*  border-bottom: 2px solid #a49f97; */
}

header #crowdfunding {
  display: block;
  background-color: #eb1478;
  text-align: center;
  margin-top: 32px;
  padding: 16px;
  font-size: 24pt;
  color: white;
}
header #crowdfunding:hover {
  text-decoration: underline;
}

header h1 {
  margin: 0;
  font-size: 4em;
  text-align: center;
}

header p {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.2em;
  text-align: center;
}

header p.sublinks {
  margin: 8px;
}

header h2 {
  font-size: 2em;
  font-style: italic;
  font-weight: 300;
}

section {
  overflow: hidden;
}

section:nth-child(2n+1) {
  background-color: #f4f4f4;
}

#logo {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  padding-left: 80px;
}

.static-logo {
  background-image:url("logo.png");
  background-repeat:no-repeat;
}

.dynamic-logo {
  cursor: pointer;
}

h2 {
  font-size: 3em;
  text-align: center;
}

section>h2 {
  margin-bottom: 0;
}

section>p {
  text-align: center;
}

.row, .row-wide {
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 1700px) {
  /* Don't display four boxes followed by one. */
  .row, .row-wide {
    max-width: 1100px;
  }
}

.column {
  padding: 16px;
  display: inline-block;
  text-align: left;
  width: 300px;
  vertical-align: top;
}

.row-wide>.column {
  width: 400px;
}

@media screen and (max-width: 864px) {
  .row-wide>.column {
    width: 300px;
  }
}

.bigpill {
  width: 800px;
  margin: 32px auto;
}

.bigpill:nth-child(2n) {
  display: -ms-flexbox; /* Internet Explorer 10 */
  display: -moz-box; /* Firefox */
  display: -webkit-box; /* Safari */
  display: -webkit-flex; /* Chrome */
  display: flex;

  flex-direction: row;
}

.bigpill:nth-child(2n+1)>h2 {
  border-right: 1px solid #a49f97;
}
.bigpill:nth-child(2n)>h2 {
  border-left: 1px solid #a49f97;

  -ms-flex-order: 3; /* Internet Explorer 10 */
  -moz-box-ordinal-group: 3; /* Firefox */
  -webkit-box-ordinal-group: 3; /* Safari */
  -webkit-order: 3; /* Chrome */
  order: 3;
}

.bigpill h2 {
  margin: auto;
  width: 320px;
  padding: 16px;
  display: inline-block;
  vertical-align: middle;
}

.bigpill p {
  margin: auto;
  width: 400px;
  padding: 16px;
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 800px) {
  .bigpill {
    width: auto;
  }
  .bigpill:nth-child(2n) {
    display: block;
  }

  .bigpill h2 {
    text-align: center;
    width: 300px;
    display: block;
    border-bottom: 1px solid #ba9;
    font-size: 2.5em;
  }
  .bigpill:nth-child(2n+1)>h2 {
    border-right: none;
  }
  .bigpill:nth-child(2n)>h2 {
    border-left: none;
  }
  .bigpill p {
    width: 300px;
    display: block;
  }

  h2 {
    font-size: 2em;
  }
}

@media screen and (max-width: 600px) {
  header h1 {
    font-size: 3em;
  }
}

#signup-form {
  padding: 8px;
  max-width: 430px;
  margin: 32px auto;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

#crowdfunding2 {
  padding: 8px;
  width: 430px;
  margin: 32px auto;
  display: inline-block;
  height: 253px;
  vertical-align: middle;
}

#crowdfunding2 a {
  display: block;
  width: 100%;
  height: 210px;
  margin: 16px 0 16px;
  background-color: #eb1478;
  border-radius: 6px;
  color: white;
  font-size: 65px;
  padding: 15px;
}

#signup-form.glowing-border {
  box-shadow: 0 0 10px #cf974a;
}

#signup-form h3, #crowdfunding2 h3 {
  margin: 8px 16px 8px;
  text-align: center;
  font-size: 2.5em;
  line-height: 1;
}

#signup-form p, #crowdfunding2 p {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 1em;
  text-align: center;
}

#signup-form input[type="email"] {
  background-color: white;
  border: 2px solid #a49f97;
  border-radius: 4px;
  padding: 4px;
  width: 422px;
  font-size: 120%;
  margin-bottom: 8px;
  color: inherit;
  font-family: inherit;
}

#signup-form input[type="submit"] {
  font-family: inherit;
  background-color: #428bca;

  padding: 10px 16px;
  font-size: 200%;
  line-height: 1.33;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
}

#apps {
  margin: 16px;
}

.app {
  background-color: #eee;
  padding: 16px;
  margin: 32px;
  max-width: 800px;
  border-radius: 6px;
}

.app h3 {
  font-size: 2em;
  margin-top: 0;
}

.app button {
  font-family: inherit;
  float: right;
  background-color: #428bca;

  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
}

.app button:disabled {
  background-color: #888;
  cursor: inherit;
}

.app .app-details {
  float: right;
  width: 275px;
  border-left: 1px solid #888;
  padding: 0 8px;
  margin: 0 16px;
  font-size: 90%;
}

@media screen and (max-width: 600px) {
  .app .app-details {
    float: none;
    border-left: none;
    border-bottom: 1px solid #888;
    padding: 0 0 8px;
    margin: 0;
    width: 100%;
  }

  .app img {
    width: 100%;
  }
}

.app:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

header button {
  display: block;
  margin: 0 auto;

  font-family: inherit;
  background-color: #428bca;

  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
}

a.link-button {
  font-family: inherit;
  background-color: #428bca;

  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
}

p.link-button-box {
  margin: 32px 32px 32px 0;
  text-align: center;
}

.footer {
  text-align: center;
}

h3.footer {
  font-size: 40px;
  margin-bottom: 8px;
}

#nametags {
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 1900px) {
  /* Don't display three boxes followed by one. */
  #nametags {
    max-width: 1000px;
  }
}

.nametag {
  width: 450px;
  margin: 8px auto;
  background-color: #f4f4f4;
  border-radius: 8px;
  display: inline-block;
  text-align: left;
}

.nametag img {
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 120px;
  height: 120px;
  margin: 25px;
  background-color: #ddd;
}

.nametag p {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 270px;
}
