.wy-nav-side {
  width: 310px;
  padding-bottom: 1em;
}

.wy-side-scroll {
  height: 94%;
  width: 310px;
}

.wy-side-nav-search {
  background-color: #723086;
}

.wy-side-nav-search input[type="text"] {
	width: 100%;
	border-radius: 4px;
	padding: 6px 12px;
	border-color: #2472a4;
}

.wy-side-nav-search>.home-and-project {
    display: flex;
    text-align: left;
}

.home-and-project>a.docs-home {
    /* Push anything else in the flexbox as far right as possible. */
    flex: 1 0;
}


.wy-side-nav-search>.home-and-project>a {
    /* Fix vertical alignment problem */
    line-height: initial;
    /* Use default A styling for .wy-side-nav-search from theme.css */
    color: #fcfcfc;
    font-size: 100%;
    font-weight: bold;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 0.809em;
}

.wy-side-nav-search>.home-and-project>a:hover {
    background: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 768px) {
    .wy-nav-top {
        text-align: left;
        display: flex;
        background-color: #723086;
    }
}

.wy-nav-top>.nav-toggle-and-docs-home-link {
    flex: 1 0;
}
.wy-nav-top>.nav-toggle-and-docs-home-link>* {
    float: none;
    vertical-align: middle;
}

.developer-next-steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* Like the default paragraph styling */
  margin-bottom: 24px;
}

.next-step {
  width: 25%;
  text-align: center;
  margin: 10px 20px;
}

@media (max-width: 320px) {
  .next-step {
    width: 40%;
    margin: 10px;
  }
}

.next-step::before {
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100px;
  content: " ";
  display: block;
}
.next-step.tutorial::before {
  background-image: url("https://alpha-evgl4wnivwih0k6mzxt3.sandstorm.io/try-tutorial.svg");
}
.next-step.why::before {
  background-image: url("https://alpha-evgl4wnivwih0k6mzxt3.sandstorm.io/sandstorm.svg");
}
.next-step.discussion::before {
  background-image: url("https://alpha-evgl4wnivwih0k6mzxt3.sandstorm.io/write.svg");
}
.next-step.app-market::before {
  background-image: url("https://alpha-evgl4wnivwih0k6mzxt3.sandstorm.io/app-market.svg");
}
.next-step.live-chat::before {
  background-image: url("https://alpha-evgl4wnivwih0k6mzxt3.sandstorm.io/live-chat.svg");
}
.next-step.demo-app::before {
  background-image: url("https://alpha-evgl4wnivwih0k6mzxt3.sandstorm.io/try-demo-app.svg");
}

#get-help {
  padding: 20px 0;
}

#get-help a {
  margin: 5px;
}
