.wy-side-nav-search>.home-and-project {
    display: flex;
    text-align: left;
}

.home-and-project>a.docs-home {
    /* Push anything else in the flexbox as far right as possible. */
    flex: 1 0;
}


.wy-side-nav-search>.home-and-project>a {
    /* Fix vertical alignment problem */
    line-height: initial;
    /* Use default A styling for .wy-side-nav-search from theme.css */
    color: #fcfcfc;
    font-size: 100%;
    font-weight: bold;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 0.809em;
}

.wy-side-nav-search>.home-and-project>a:hover {
    background: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 768px) {
    .wy-nav-top {
        text-align: left;
        display: flex;
    }
}

.wy-nav-top>.nav-toggle-and-docs-home-link {
    flex: 1 0;
}
.wy-nav-top>.nav-toggle-and-docs-home-link>* {
    float: none;
    vertical-align: middle;
}

.developer-next-steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* Like the default paragraph styling */
  margin-bottom: 24px;
}

.next-step {
  max-width: 25%;
  text-align: center;
  min-width: 140px;
}
.next-step::before {
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100px;
  content: " ";
  display: block;
}
.next-step.tutorial::before {
  background-image: url("https://sandstorm.io/images/help-package.svg");
}
.next-step.why::before {
  background-image: url("https://sandstorm.io/images/help-share.svg");
}
.next-step.discussion::before {
  background-image: url("https://sandstorm.io/images/help-write.svg");
}
.next-step.app-market::before {
  background-image: url("https://sandstorm.io/images/core-apps-growing.svg");
}
.next-step.live-chat::before {
  background-image: url("https://sandstorm.io/images/help-discuss.svg");
}
.next-step.demo-app::before {
  background-image: url("https://sandstorm.io/images/core-single-sign-on.svg");
}
