body>.popup.login>.frame-container {
  width: 202px; // 2px of border
  >.frame {
    width: 200px;
    border: none;
    min-width: 200px;

    >p.demo-note {
      border-bottom: 1px solid #c1c1c1;
      font-size: 80%;
      color: #444;
      padding: 4px 16px;
    }

    >* {
      margin: 0;
    }
  }
}

body>.popup.account>.frame-container {
  width: 252px; // includes 2px of border
  >.frame {
    width: 250px;
    border: none;

    >p.demo-note {
      border-bottom: 1px solid #c1c1c1;
      font-size: 80%;
      color: #444;
      padding: 4px 16px;
    }

    >* {
      margin: 0;
    }
  }
}

.account-buttons-list {
  width: 250px;
  margin: 0;
  text-align: left;

  >button.logout, >button.switch-identity, >form, >a {
    display: block;
    width: 250px;
    height: 32px;
    text-decoration: none;
    color: black;
    font-weight: normal;

    cursor: pointer;
    padding: 4px 8px;

    font-size: 80%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.5;

    text-align: left;
    text-indent: 40px;
    color: black;

    background: white;

    border: none;
    border-bottom: 1px solid #c1c1c1;

    &:hover {
      background-color: #f5f5f5;
    }
  }
  .inline-identity-switcher {
    padding-left: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid #c1c1c1;
  }
}

.login-suggestion {
  >button {
    @extend %button-base;
    @extend %button-primary;
    width: calc(100% - 20px);
    display: block;
    margin: 10px;
  }
  >button.dismiss {
    @extend %button-secondary;
  }
}

.login-buttons-list {
  width: 200px;
  margin: 0;
  text-align: left;

  /* TODO(cleanup): Much of the below was brought it from Meteor's accounts-ui and needs cleanup. */

  >button.login, >form, >a {
    display: block;
    width: 100%;
    height: 32px;
    text-decoration: none;
    color: black;
    font-weight: normal;

    cursor: pointer;
    padding: 4px 8px;

    font-size: 80%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.5;

    text-align: left;
    text-indent: 40px;
    color: black;

    background: white;

    border: none;
    border-bottom: 1px solid #c1c1c1;

    &:hover {
      background-color: #f5f5f5;
    }

    &.login-button-disabled, &.login-button-disabled:active {
      color: #ddd;
      background-color: #aaa;
      border: 1px solid lighten(#aaa, 10%);
      box-shadow: none;
    }

    background-position: 16px center;
    background-size: 27px 27px;
    background-repeat: no-repeat;
  }
  >button.login.google {
    background-image: url("/google.svg");
    &:hover {
      background-image: url("/google-color.svg");
      color: #a53232;
    }
  }
  >button.login.github {
    background-image: url("/github.svg");
    &:hover {
      background-image: url("/github-color.svg");
      color: #191919;
    }
  }
  >form.email {
    background-image: url("/email.svg");
    &:hover {
      background-image: url("/email-m.svg");
    }
  }
  >form.ldap,
  >button.login.saml {
    background-image: url("/ldap.svg");
    &:hover {
      background-image: url("/ldap-m.svg");
    }
  }
  >a.troubleshooting {
    background-image: url("/troubleshoot.svg");
    &:hover {
      background-image: url("/troubleshoot-m.svg");
    }
  }

  >form.login.dev:hover {
    background-color: white;
    cursor: auto
  }

  >form.login.dev, >button.login.dev {
    background-image: url("/debug.svg");
    background-position: 16px 0px;
    height: auto;
    button.unexpand {
      @include unstyled-button();
    }
    &:hover {
      background-image: url("/debug-m.svg");
    }
    button.login-dev-account {
      @extend %button-base;
      @extend %button-secondary;
      width: 100%;
    }
    ul.dev-credentials {
      text-indent: 0;
      list-style-type: none;
      padding-left: 0;
      li {
        margin: 2px;
        width: auto;
        &.custom-name {
          display: flex;
          justify-content: space-between;
          input {
            width: 50%;
            display: inline-block;
          }
          button {
            @extend %button-base;
            @extend %button-secondary;
            width: 45%;
          }
        }
      }
    }
  }

  .loading {
    line-height: 1;
    background-image: url("data:image/gif;base64,R0lGODlhEAALAPQAAP///wAAANra2tDQ0Orq6gYGBgAAAC4uLoKCgmBgYLq6uiIiIkpKSoqKimRkZL6+viYmJgQEBE5OTubm5tjY2PT09Dg4ONzc3PLy8ra2tqCgoMrKyu7u7gAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCwAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQJCwAAACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQJCwAAACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA");
    width: 16px;
    background-position: center center;
    background-repeat: no-repeat;
  }

  >form.email, >form.ldap {
    line-height: 32px;
    height: auto;
    background-size: 24px 24px;
    background-position: 16px 4px;

    label {
      display: block;
      line-height: normal;
      font-size: 8pt;
      text-indent: 0;
      padding: 0 8px;
    }
    label.hidden {
      display: none;
    }
    >p {
      line-height: normal;
      font-size: 8pt;
      margin: 0 0 8px;
      padding-left: 32px;
      text-indent: 0;
      background-image: url("/check.svg");
      color: #444;
    }

    input {
      width: 100%;
      padding: 2px 4px;
      border: 1px solid #9e9e9e;
      border-radius: 3px;
      line-height: normal;
    }

    .info {
      margin-top: 7px;
      margin-bottom: -2px;

      border-radius: 50%;
      background-color: #444;
      color: white;
      width: 10px;
      height: 10px;
      font-size: 10px;
      display: inline-block;
      text-align: center;
    }

    .button-box {
      text-align: right;
      padding: 0 6px;
      text-indent: 0;

      button {
        @include unstyled-button();
        border: 1px solid #9e9e9e;
        border-radius: 3px;
        line-height: normal;
        height: 16px;
        margin: 8px 2px;
        padding: 2px 4px;
        text-transform: uppercase;
        font-size: 7pt;
        color: #444;
        display: inline-block;
        background-color: white;

        &:hover {
          background-color: #eee;
        }
      }
    }

    &:hover {
      background-color: white;
      cursor: auto;
    }
  }

  >a {
    line-height: 24px;
  }

  .login-button-form-submit { margin-top: 8px; }
  p.message {
    font-size: 80%;
    padding: 8px 16px;
    margin: 0;
    line-height: 1.3;
    background-color: white;
    border-bottom: 1px solid #c1c1c1;
  }
  .error-message { color: red; }
  .info-message { color: green; }
  .additional-link { font-size: 75%; }

  .accounts-close {
    position: absolute;
    top: 0;
    right: 5px;

    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    opacity: 0.4;

    &:hover {
      opacity: 0.8;
    }
  }

  >.or {
    display: none;
  }
}

.login-dialog {
  width: 325px;
  background-color: #f5f5f5;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid #9e9e9e;
  overflow: hidden;

  >h4 {
    text-align: center;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 20pt;
    font-weight: normal;
    padding-top: 8px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin: 0;

    .logo {
      @extend %pseudo-img-tag;
      background-position: bottom;
      display: inline-block;
      width: 64px;
      height: 64px;
      vertical-align: bottom;
    }
  }

  >p {
    width: 225px;
    margin: 16px auto;
    font-size: 10pt;

    >a {
      color: black;
      font-weight: normal;
      text-decoration: underline;
    }
  }

  >.login-buttons-list {
    margin: 0 auto 32px;
    width: 225px;

    >button.login, >form, >a {
      border: 1px solid #9e9e9e;
      border-radius: 2px;
      margin: 8px 0;
      background-position: 48px center;
      text-indent: 72px;
      color: black;
      font-weight: normal;
      width: 225px;
    }
    >button.login.google {
      background-image: url("/google-color.svg");
      color: #a53232;
    }
    >button.login.github {
      background-image: url("/github-color.svg");
      color: #191919;
    }

    >form.dev {
      background-position: 48px 0px;
    }

    >form.email, >form.ldap {
      background-position: 48px 4px;

      .button-box {
        text-indent: 0;
      }
    }

    >.or {
      display: block;
      text-align: center;
      margin: 16px 0;
      border-bottom: 1px solid #c1c1c1;
      .hline { display: none; }
      .or-text { display: none; }
    }

    p.message {
      border: 1px solid #9e9e9e;
      border-radius: 2px;
      margin: 8px 0;
    }

    >a[href="/about"] {
      display: none;
    }
  }

  #intro>& {
    margin-top: 64px;
  }
}

body>.main-content>.account {
  text-align: left;

  @media #{$desktop} {
    padding: 32px;
  }

  @media #{$mobile} {
    padding-top: 0px;
    padding-bottom: 32px;
    padding-left: 8px;
    padding-right: 8px;
  }

  h1 {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 12px;
    border-bottom: 1px solid $default-rule-color;
    margin-bottom: 12px;

    font-size: 24pt;
    font-weight: 400;
  }

  h2, h3 {
    text-align: left;
    border-bottom: 1px solid #6d6d6d;
    font-weight: normal;
  }

  h2 {
    font-size: 25pt;
    padding-bottom: 8px;
    margin-top: 12px;
  }

  h3.title-bar {
    margin-bottom: 5px;
    border: none;
    font-size: 14pt;
    padding: 5px;
  }

  .linked-credentials {
    position: relative;
    white-space: nowrap;
    max-width: 660px;
  }

  .credentials-tabs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    white-space: normal;
    vertical-align: top;

    ul {
      position: relative;
      margin: 0px;
      padding: 0px;

      li {
        list-style-type: none;
        background-color: white;
        margin-bottom: 10px;
        padding: 4px;
        position: relative;

        @media #{$not-mobile-only} {
          margin-right: 7px;

          &[aria-selected=true] {
            margin-right: 0px;
          }
        }
        @media #{$mobile-only} {
          border: 1px solid $generic-border-color;

          &[aria-selected=true] {
            border: 2px solid $generic-border-color;
          }
        }

        .credential-card {
          display: static;
          height: auto;
          .login-provider-icon {
            width: 32px;
            height: 32px;
          }
          .name {
            line-height: 32px;
            font-size: 12pt;
          }
        }

        .credential-management-controls {
          div.toggle-login {
            padding-left: 8px;
            font-size: 9pt;
          }
          button.unlink-credential {
            position: absolute;
            right: 14px;
            top: 8px;
          }
        }
      }
    }
    .login-buttons-list {
      width: 218px;
      margin-right: 7px;
      .troubleshooting, a[href="/about"] {
        display: none;
      }
    }

    .account-buttons {
      text-align: right;
    }

    button.account-button {
      @extend %button-base;
      @extend %button-secondary;
      @media #{$not-mobile-only} {
        margin-right: 7px;
      }

      @media #{$mobile-only} {
        flex: 1;
        &:not(:last-child) {
          margin-right: 8px;
        }
      }

      min-height: 30px;

      margin-bottom: 12px;

      &.link-new-credential {
        @extend .icon-link;
        @extend %button-primary;
        &::before {
          font-size: 20px;
          @extend .icon;
        }
      }

    }
  }

  .profile {
    @media #{$not-mobile-only} {
      display: inline-block;
    }
    @media #{$mobile-only} {
      display: block;
    }

    white-space: normal;

    div[aria-hidden=true] {
      display: none;
    }

    ul {
      margin-top: 0;
      padding: 0;
    }
  }

  .verified-emails-editor {
    position: relative;
    .already-verified {
      @media #{$not-mobile-only} {
        display: inline-block;
        width: 340px;
        left: 0px;
        vertical-align: top;
      }

      @media #{$mobile-only} {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
      }

      ul {
        margin-top: 4px;
        padding-left: 0px;
        li {
          background-color: white;
          height: 30px;
          list-style-type: none;
          white-space: nowrap;
          margin-top: 4px;
          span.email {
            line-height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 3%;
            float: left;
            width: 66%;
          }
          button.make-primary {
            @extend %button-base;
            @extend %button-secondary;
            width: 33%;
            height: 26px;
            margin-top: 2px;
          }
          span.primary-badge {
            background-color: $sandstorm-purple-color;
            color: white;
            width: 32%;
            text-align: center;
            display: inline-block;
            height: 24px;
            margin-top: 3px;
          }
        }
      }
    }

    .add-new {
      @media #{$not-mobile-only} {
        display: inline-block;
        width: 330px;
        vertical-align: top;
        input[name="email"] {
          width: 200px;
          height: 26px;
        }
      }

      @media #{$mobile-only} {
        form.email {
          display: flex;
          flex-direction: row;
          align-items: stretch;
          justify-content: space-between;
          label {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: flex-start;
          }
          input[name="email"] {
            flex: 1;
            margin-right: 8px;
          }

          div.button-box {
            flex: 0;
          }
        }
      }

      .info, .hidden {
        display: none;
      }

      div.button-box {
        display: inline-block;
        >button {
          @extend %button-base;
          @extend %button-secondary;
        }
      }
    }
  }
}

div.billing {
  >section.payment-methods {
    display: inline-block;
    vertical-align: top;

    h3 {
      margin: 0.5em 0;
    }

    max-width: 478px;

    >.balance {
      margin-left: 16px;
      margin: 1em auto 2em;
      text-align: left;

      >.amount {
        border: 1px solid #ccc;
        padding: 4px 16px;
        margin: 0 16px;
      }

      >.details {
        font-size: 80%;
        color: #444;
      }
    }

    >table {
      text-align: left;
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;

      >thead {
        td {
          border-right: 1px solid $default-content-background-color;
          background-color: #ccc;
          padding-left: 10px;
        }
      }

      td:nth-child(1) {
        width: 75px;
        text-align: center;
      }

      td:nth-child(2) {
        width: 200px;
        padding-right: 16px;
        text-align: right;
      }

      td:nth-child(3) {
        width: 75px;
        text-align: center;
      }

      td:nth-child(4) {
        width: 50px;
        text-align: center;
      }

      >tbody {
        background-color: white;
        >tr {
          border-bottom: 1px solid #ccc;
          >td {
            height: 2em;

            button {
              background-color: transparent;
              border: 1px solid #a199ad;
              color: #5d5d5d;
              cursor: pointer;
              text-transform: uppercase;
              border-radius: 2px;

              &:hover {
                color: #65468e;
                background-color: #e6e1f4;
              }
            }

            &.add-new-card {
              position: relative;
              text-align: left;

              &.iframe-active {
                position: static;
              }

              button {
                padding: 2px 4px;
                font-size: 16px;
                font-weight: bold;
                border-color: #6d6d6d;
                color: #6d6d6d;

                &:hover {
                  background-color: white;
                }
                margin-right: 16px;
              }

              &:hover button {
                background-color: white;
              }
              &:hover {
                cursor: pointer;
              }

              >.mobile-iframe-hack {
                position: absolute;
                height: 24px;
                width: 300px;
                &.fullscreen {
                  @extend %fullscreen-iframe-hack;
                }
              }
            }
            &.checkbox {
              >label {
                font-size: 0;
                position: relative;
                display: inline-block;
                vertical-align: top;
                width: 16px;
                height: 16px;
                border: 1px solid #aaa;
                cursor: pointer;
                border-radius: 2px;
                >input {
                  visibility: hidden;
                }
                &.selected {
                  background: #aaa;
                  cursor: auto;
                }
              }
            }
          }
        }

        >tr:last-child {
          background-color: $default-content-background-color;
          border-bottom: none;
        }
      }
    }
  }

  div.usage {
    display: inline-block;
    vertical-align: top;

    @media #{$not-mobile-only} {
      margin-right: 32px;
    }

    h3 {
      margin: 0.5em 0;
    }

    h4 {
      margin: 0;
    }

    @media #{$not-mobile-only} {
      max-width: 482px;
    }

    span.plan-name {
      text-transform: capitalize;
    }

    span.plan-ends {
      color: #666;
      font-size: 80%;
      display: block;
    }

    table {
      width: 100%;
    }

    tr:first-of-type {
      height: 48px;
      font-size: 18px;
    }
    td {
      vertical-align: top;
      padding-bottom: 1em;

      p {
        margin-top: 0;
        margin-bottom: 0.7em;
      }
      p:last-child {
        margin-bottom: 0;
      }
      &.current-plan {
        position: relative;
      }
    }
    td:first-of-type {
      width: 140px;
    }

    span.grain-count {
      color: #6d6d6d;

      .used {
        color: #444;
      }
      .total {
        text-transform: capitalize;
      }
    }

    div.used, div.total {
      font-size: 90%;
      color: #6d6d6d;

      .amount {
        color: #191919;
      }
    }

    div.used { float: left; }
    div.total { float: right; }

    div.progress-bar {
      height: 12px;
      background-color: white;
      border: 1px solid #b2b2b2;
      margin: 4px 0;

      >div {
        height: 100%;
        background-color: #65468e;
      }
    }

    hr {
      border: none;
      border-bottom: 1px solid #6d6d6d;
    }

    button {
      &.change-plan {
        @extend %button-base;
        @extend %button-primary;
        font-size: 16px;
        width: 125px;
        position: absolute;
        top: 0;
        right: 0;
      }

      &.subscribe {
        @extend %button-base;
        @extend %button-primary;
        font-size: 16px;
        width: 125px;
      }

      &.unsubscribe {
        @extend %button-base;
        @extend %button-secondary;
        font-size: 90%;
        padding: 4px 16px;
        margin-left: 16px;
      }
    }

    tr.bonus {
      color: #6d6d6d;
      font-size: 90%;
      p.bonus {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }

    h4.free-stuff-section-header {
      padding-bottom: 0.5em;
    }

    div.free-stuff {
      /* "Get free storage" area of /account */
      display: flex;
      align-items: center;
      justify-content: space-between;

      >p {
        color: #6d6d6d;
        font-size: 90%;
        padding-right: 0.3em;

        .reward-amount {
          font-weight: bold;
        }
      }

      a.like-a-button, button {
        @extend %button-base;
        @extend %button-primary;
        font-family: Arial;
        font-size: 16px;
        font-weight: normal;
        width: 125px;
        flex-shrink: 0;
      }
    }
  }
}

.danger-zone {
  button.delete-account {
    @extend %button-base;
    @extend %button-danger;
  }
}

.first-sign-in-main-content, .suspended-main-content {
  z-index: 1;
  h1 {
    text-align: center;
  }
  .profile-editor {
    position: static;
    margin: auto;
  }
}

.suspended-main-content {
  h2 {
    text-align: center;
  }
  button {
    display: block;
    margin: auto;
    font-size: 18px;
    @extend %button-base;

    &.restore-account {
      @extend %button-primary;
      margin-bottom: 20px;
    }

    &.logout {
      @extend %button-secondary;
    }
  }
}

div.single-profile-editor {
  max-width: 660px;
  margin: auto;
}

div.profile-editor {
  @media #{$not-mobile-only} {
    width: 660px;
  }

  background-color: white;
  padding: 22px;

  form.account-profile-editor {
    @extend %standard-form;
    display: block;

    .inline-icon {
      width: 20px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .picture-row {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      .picture-box {
        flex: none;
        width: 128px;
        height: 128px;
        margin-right: 16px;
        img {
          max-width: 128px;
          max-height: 128px;
        }
      }
    }

    .terms, .mailingListOptin {
      padding-left: 24px;
      label {
        font-weight: inherit;
        text-indent: -24px;
      }
    }

    .handle input[type="text"] {
      font-family: monospace;
    }
  }
}

%fullscreen-iframe-hack {
  display: inline;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 32px;
  left: 0px;
  z-index: 10000000;
  opacity: 1;
}

body>.main-content>.account,
body>.popup,
.first-time-billing-prompt {
  .mobile-iframe-hack {
    border: 0px;
    opacity: .01;

    &.fullscreen {
      @extend %fullscreen-iframe-hack;
    }
  }
}

body>.popup.billing-prompt>.frame-container {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @media #{$desktop} {
    width: 932px;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    border: 1px solid #ccc;  // prevent margin collapse
  }

  @media #{$mobile} {
    max-width: 500px;
  }

  iframe.billing-prompt-local {
    width: 100%;
    height: 600px;
    margin: 0px;
    border: none;
  }
}

.first-time-billing-prompt {
  max-width: 932px;
  margin: 32px auto 0;
  background-color: white;
  overflow: hidden;
}

body>.popup.billing-prompt>.frame-container>.frame, .first-time-billing-prompt {
  text-align: center;

  >h2 {
    text-align: center;
    margin-top: 32px;
    color: #191919;
    font-size: 24pt;
    font-weight: normal;
  }

  >p {
    text-align: center;
    color: #494949;
    font-size: 17pt;
    max-width: 440px;
    margin: 1em auto;

    &.wider {
      max-width: 590px;
    }

    >a {
      color: inherit;
    }

    >.trash {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url("/trash-m.svg");
      font-size: 0;
      vertical-align: top;
    }

    &.alternatives {
      font-size: 10pt;
      text-align: right;
      width: 327px;
      line-height: 22px;
      margin-bottom: 32px;
    }

    &.custom-app {
      max-width: 510px;
    }
  }

  >.login {
    margin-bottom: 16px;
  }

  >p.success-note {
    background-color: #cff4c6;
    padding: 32px;
    max-width: 564px;
    margin: 1em auto;

    >strong {
      text-transform: capitalize;
    }
  }

  >p.bonus-note {
    max-width: 550px;
  }

  button.continue, button.subscribe {
    @include unstyled-button();

    display: table;
    margin: 16px auto 64px;
    padding: 8px 16px;
    background-color: #783189;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
  }

  .subscribe-option button {
    display: inline-block;
    margin: 0 0 64px;

    &.continue {
      border: 1px solid #9e9e9e;
      color: #5d5d5d;
      text-transform: uppercase;
      background-color: transparent;
    }
  }

  >.subscriptions {
    max-width: 900px;
    font-size: 11px;
    margin: 32px 16px;
    font-family: "Source Sans Pro", sans-serif;
    margin: auto;

    >a.free-note {
      display: block;
      text-decoration: none;
      font-weight: normal;
      background-color: #f2edf2;
      color: #6a237c;
      max-width: 736px;
      margin: 0 auto;
      padding: 8px;
      font-size: 25px;
    }

    >.subscription {
      display: inline-block;
      width: 180px;
      margin: 4px;
      padding: 0px;
      cursor: pointer;
      text-align: center;

      position: relative;

      &.iframe-active {
        position: static;
      }

      >.mobile-iframe-hack {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        &.fullscreen {
          @extend %fullscreen-iframe-hack;
        }
      }

      &.selected {
        td {
          background-color: #efefef;
          color: #494949;
        }

        >table {
          >tr:nth-child(1)>td {
            background-color: #cccccc;
            color: #494949;
          }
          >tr:nth-child(5)>td {
            button {
              background-color: #cccccc;
              background: #cccccc;
              color: #494949;
              border: 1px solid #9e9e9e;
            }
          }
        }
      }

      &.selecting>table>tr:nth-child(2)>td {
        background-size: 96px 96px;
        // TODO(soon): need spinner with transparent or #eee background
        background-image: url("/spinner_96.gif");
        background-repeat: no-repeat;
        background-position: center;
      }

      >p {
        color: #494949;
        font-size: 16px;
      }

      >table {
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px auto 16px auto;
        border: 1px solid #adadad;
        border-radius: 4px;
        width: 100%;

        td {
          padding-top: 8px;
          padding-bottom: 8px;
          font-size: 20px;
          color: #6a237c;

          text-align: middle;

          >p {
            margin: 0px;
          }

          background-color: #f2edf2;
        }

        tr {
          border-bottom: 1px solid #d6c9d4;
        }

        tr:nth-child(1)>td {
          font-size: 24px;
          text-transform: uppercase;
          background-color: #d5bfe9;
        }

        tr:nth-child(2)>td {
          padding: 20px 0px 20px;
          background-color: white;

          >p:nth-child(1) {
            font-size: 36px;
            font-weight: 600;
          }

          >p:nth-child(2) {
            font-size: 12px;
          }
        }

        tr:nth-child(3)>td {
          >p:nth-child(1) {
            text-transform: capitalize;
          }

          >p:nth-child(2) {
            font-size: 12px;
          }
        }

        tr:nth-child(4) {
          border-bottom: 0px;

          >td>p:nth-child(2) {
            font-size: 12px;
          }
        }

        tr:nth-child(5) {
          button {
            width: 95%;
            height: 40px;
            font-size: 16px;
            color: white;
            background: linear-gradient(#662d91, #57236e);
            cursor: pointer;
            border: 0px;
            border-radius: 4px;
          }
        }
      }

      &:hover {
        >table {
          td {
            background-color: white;
          }
          >tr:nth-child(1)>td {
            background-color: #e4d6f4;
          }
        }
      }
      &.selected:hover {
        >table {
          td {
            background-color: white;
          }
          >tr:nth-child(1)>td {
            background-color: #e2e2e2;
          }
        }
      }
    }
  }

  >.faq {

    margin: 0;
    padding: 16px 32px 32px 32px;
    color: #494949;
    text-align: left;

    >h3 {
      margin-top: 0px;
      margin-bottom: 24px;
      font-weight: normal;
      font-size: 20pt;
      border-bottom: 1px solid #c1c1c1;
    }

    .answers {
      display: flex;
      @media #{$desktop} {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
      }
      @media #{$mobile} {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: stretch;
      }

      .answer {
        @media #{$desktop} {
          display: inline-block;
          max-width: 390px;
          margin-right: 16px;
        }
        @media #{$mobile} {
          display: block;
          margin: 0px;
        }

        vertical-align: top;

        >h4 {
          margin: 0 0 16px;
          font-size: 14pt;
          font-weight: normal;
        }

        >p {
          font-size: 10pt;
          >a {
            text-decoration: none;
            font-weight: 600;
            color: inherit;
            &:hover {
              color: #65468e;
            }
          }
        }
      }
    }

    >.contact-button-wrapper {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      justify-content: flex-start;

      >a.button {
        text-decoration: none;
        display: inline-block;
        float: right;
        border: 1px solid #b7b7b7;
        padding: 8px 8px 8px 32px;
        background-image: url("/email-494949.svg");
        background-repeat: no-repeat;
        background-position: 8px center;
        background-size: 16px 16px;
        color: #494949;
        border-radius: 2px;
        text-transform: uppercase;
        font-size: 10pt;
        position: relative;
        z-index: 10;

        &:hover {
          background-color: white;
          cursor: pointer;
        }
      }
    }

    .trash {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url("/trash-m.svg");
      font-size: 0;
      vertical-align: top;
    }
  }
}

.credential-login-interstitial {
  z-index: 1;
  background-color: #efefef;
  div.centered-content{
    margin: auto;
    text-align: center;
    width: 400px;
    background-color: white;
    >.credential-card {
      width: 100%;
    }
    .warning-banner {
      padding: 10px;
      background-color: #b52931;
      color: white;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li.non-login-account {
        padding-top: 10px;
        margin-bottom: 10px;

        &:first-child {
          border-top: 1px solid #ddd;
        }
        border-bottom: 1px solid #ddd;
      }
      li {
        position: relative;
        padding-bottom: 10px;
        button.unlink {
          @extend %button-base;
          @extend %button-secondary;
          position: absolute;
          right: 25px;
          top: 10px;
        }
      }
    }
    button.danger {
      @extend %button-base;
      @extend %button-danger;
    }
    button.logout {
      @extend %button-base;
      @extend %button-primary;
    }
  }
}

.credential-card-sign-in {
  display: flex;
  align-items: center;
  flex-direction: column;
  button.sign-in {
    border: none;
    border-top: 1px solid #ddd;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
  }
  h4 {
    margin-bottom: 5px;
  }
  .light-border {
    border: 1px solid gray;
  }
}

.credential-management-controls {
  .login-credentials-of-linked-accounts {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 10px;
    ul.unlinkable-credentials {
      list-style-type: none;
      padding: 0;
      li{
        position: relative;
        padding-bottom: 10px;
        .credential-card {
          border: 1px solid black;
        }
        button.unlink {
          @extend %button-base;
          @extend %button-secondary;
          position: absolute;
          left: 240px;
          top: 15px;
        }
      }
    }
    button.hide-other-accounts {
      @extend %button-base;
      @extend %button-secondary;
    }
  }
  button.show-other-accounts {
    @extend %button-base;
    @extend %button-secondary;
  }
  button.unlink-credential {
    @extend %button-base;
    @extend %button-secondary;
    width: 80px;
    height: 30px;
    padding-left: 30px;

    position: relative;

    @extend .icon-unlink;
    &::before {
      position: absolute;
      left: 5px;
      top: 2px;
      font-size: 24px;
      @extend .icon;
    }
  }
}

ul.credential-card-list {
  padding-left: 0;
  li {
    list-style-type: none;
    margin-bottom: 12px;
    button {
      height: 54px;
      @include unstyled-button();
      border: 1px solid $generic-border-color;
    }
    &.current-credential>button {
      height: 56px;
      border: 2px solid black;
    }
  }
}

.credential-card {
  display: inline-block;
  height: 52px;
  text-align: left;
  margin-bottom: 0;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;

  .login-provider-icon {
    @extend %login-provider-icon;
    width: 52px;
    height: 52px;
    float: left;
  }

  .name {
    line-height: 52px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14pt;
  }
}

.account-card {
  display: inline-block;
  position: relative;
  height: 52px;
  width: 218px;
  text-align: left;
  margin-bottom: 0;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;

  &::before {
    color: #9E9E9E;
    position: absolute;
    left: 50px;
    top: 30px;
    font-size: 16px;
    @extend .icon;
  }

  &[data-service-name=github] {
    @extend .icon-github;
  }

  &[data-service-name=google] {
    @extend .icon-google;
  }

  &[data-service-name=dev] {
    @extend .icon-debug;
  }

  &[data-service-name=email] {
    @extend .icon-email;
  }

  &[data-service-name=ldap] {
    @extend .icon-ldap;
  }

  &[data-service-name=saml] {
    @extend .icon-ldap;
  }

  .picture {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 8px;
    top: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
   }

  .name {
    position: absolute;
    left: 55px;
    top: 8px;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height:30px;
    font-size: 10pt;
  }
  .intrinsic-name {
    position: absolute;
    left: 68px;
    top: 28px;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 10pt;
    color: #777777;
  }
}

.user-confirm-delete {
  .confirm, .feedback {
    width: 100%;
  }
  .feedback {
    margin-bottom: 10px;
  }
}
