.feature-key-data {
  background-color: #ffffff;
  padding: 42px;
  margin-bottom: 20px;
}

.feature-key-properties {
  padding-bottom: 32px;
}

.feature-key-org-info {
  border-top: 1px solid #ddd;
  padding-top: 32px;
}

.feature-key-property-row {
  display: block;
  width: 100%;
}

.feature-key-property-key {
  display: inline-block;
  width: 30%;
  text-align: right;
  padding-right: 4px;
  color: #7e7e7e;
}

.feature-key-property-value {
  display: inline-block;
  width: 69%;
  text-align: left;
  padding-left: 4px;
}

.feature-key-label {
  font-size: 10pt;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 2px;
}


.feature-key-free, .feature-key-valid {
  background-color: #c5e8b1;
  color: #2f4336;
}

.feature-key-expired {
  background-color: #e8b2b2;
  color: #432f2f;
}

.feature-key-expires-soon {
  background-color: #fbd84c;
  color: #2f2f2f;
}

.feature-key-trial {
  background-color: #c5e8b1;
  color: #2f4336;
}

.feature-key-button-row {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.request-feature-key {
  display: inline-block;
  // The default link styling is (remarkably) more specific than this selector, so
  // we override with !important.  This should probably be fixed.
  color: #000000 !important;
  font-weight: normal !important;
  margin-top: 32px;
  margin-bottom: 32px;
}

form.feature-key-form, form.feature-key-modify-form {
  @extend %standard-form;
  textarea {
    min-height: 60px;
  }
}

.feature-key-renewal-problem {
  border-radius: 5px;
  padding: 16px 66px 16px 16px;  // space for retry button on right
  margin-bottom: 20px;
  background-color: $error-background-color;
  position: relative;

  >.retry {
    @extend %button-base;
    @extend %button-secondary;

    position: absolute;
    right: 16px;
    top: 16px;
  }
}
