.get-feature-key-form {
  @extend %standard-form;
}

.feature-key-delete-form {
  @extend %standard-form;

  button.danger {
    @extend %button-base;
    @extend %button-danger;
  }
}

.feature-key-explanation-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;

  .lanyard-image {
    @extend %pseudo-img-tag;
    flex: none;
    display: block;
    background-image: url('/sandstorm-for-work-lanyard.svg');
    width: 304px;
    height: 223px;
  }

  .feature-key-explanation {
    flex: 1 1 auto;
    .button-primary {
      // By default, links get a broad-yet-applicable selector applied that seems to take precedence
      // over button-primary.  So undo the bold-purple treatment that links get by default.
      display: inline-block;
      padding: 12px 48px;
      font-size: 20px;
      font-weight: normal;
      color: white;
    }
  }
}
