.app-list {
  overflow: auto; // Needed to make the background span everything on screen.
  @media #{$desktop} {
    padding: 0px 32px;
  }
  @media #{$mobile} {
    padding: 0px 8px;
  }
  background-color: $applist-background-color;
  color: $applist-foreground-color;
  >h1 {
    font-size: 24pt;
    font-weight: 400;
    @media #{$mobile} {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .hide {
    // !important used to override other classes that might assign e.g. display: block
    display: none !important;
  }
  >.search-row {
    position: relative;
    @media #{$desktop} {
      margin-bottom: 24px;
      width: 100%;
      vertical-align: top;
    }
    @media #{$mobile} {
      margin-bottom: 0;
      display: inline-block;
      width: calc(100% - 100px);
      vertical-align: middle;
    }
    >label {
      display: inline-block;
      >span.search-icon {
        @extend %pseudo-img-tag;
        background-image: url("/search.svg");
        background-size: 24px 24px;
        background-position: center;
        display: inline-block;
        width: 32px;
        height: 32px;
        vertical-align: top;
      }
      >input.search-bar {
        display: inline-block;
        vertical-align: top;
        width: 33%;
        font-size: 16pt;
        height: 32px;
        background-color: $grainlist-searchbar-background-color;
        border: 1px solid $grainlist-searchbar-outline-color;
        &:focus {
          border: 1px solid $grainlist-searchbar-outline-color-focus;
        }
        @media #{$desktop} {
          width: calc(100% - 36px);
        }
        @media #{$mobile} {
          width: calc(100% - 60px);
        }
      }
      @media #{$desktop} {
        width: 50%;
      }
    }
    >button.toggle-uninstall, >button.upload-button {
      @extend %button-base;
      @extend %button-secondary;
      display: inline-block;
      float: right;
      vertical-align: top;
      font-size: 14pt;
      line-height: 16pt;
      height: 32px;
      margin-left: 4px;
    }
  }
  >.popular-container {
    // Restricts the visible portion of the "most used" section to a single row.
    display: block;
    overflow: hidden;
    @media #{$desktop} {
      height: 280px;
    }
    @media #{$mobile} {
      height: 160px;
    }
  }
  >h2, >.popular-container>h2 {
    font-weight: 400;
    border-bottom: 1px solid $applist-rule-color;
    clear: both;
    @media #{$mobile} {
      margin-bottom: 8px;
    }
  }
  >.app-button, >.popular-container>.app-button {
    @include unstyled-button();
    float: left;
    display: block;
    // Browsers render button contents vertically-centered by default.
    // I can't figure out how to suggest that the browser align contents to the top instead, so I
    // specify position: relative here and position: absolute for the image and text label.
    // Strictly speaking, you're not supposed to have a <button> with a child <img>.  Oh well.
    position: relative;
    @media #{$desktop} {
      width: 148px;
      height: 200px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
    }
    @media #{$mobile} {
      width: 74px;
      height: 100px;
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 10px;
    }
    //box-shadow: 0 0 1px black;
    overflow: hidden;
    &.app-action {
    }
    &.dev-background {
      background-image: url("/devmode.png");
      background-size: 100% auto;
      background-color: #ccc;
    }
    &.uninstall-action>.app-icon {
      &::before {
        position: absolute;
        content: " ";
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url("/close-FFFFFF.svg");
        background-position: center;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        z-index: 1;
      }
    }
    >.app-icon {
      @extend %pseudo-img-tag;
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      @media #{$desktop} {
        width: 128px;
        height: 128px;
        margin: 10px;
      }
      @media #{$mobile} {
        width: 64px;
        height: 64px;
        margin: 5px;
      }
      border-radius: 6px;
      vertical-align: top;
      &.pseudoapp {
        background-color: $applist-pseudoapp-background-color;
        border: 1px $applist-pseudoapp-outline-color;
      }

      &.restore-icon {
        background-image: url('/restore-B7B7B7.svg');

        &:hover {
          background-image: url('/restore-5D5D5D.svg');
        }
      }
      &.upload-icon {
        background-image: url('/upload-B7B7B7.svg');

        &:hover {
          background-image: url('/upload-5D5D5D.svg');
        }
      }
      &.install-icon {
        background-image: url('/install-9E40B5.svg');
        border: 1px solid #b3b3b3;

        &:hover {
          background-image: url('/install-6A237C.svg');
        }
      }
    }
    %apptext {
      @include overflow-ellipsis();
      position: absolute;
      left: 0px;
      width: 100%;
      vertical-align: top;
      text-align: left;
      @media #{$desktop} {
        margin-left: 10px;
      }
      @media #{$mobile} {
        margin-left: 5px;
      }
    }
    >.app-title, >.action-title {
      @extend %apptext;
      @media #{$desktop} {
        top: 148px;
        font-size: 14pt;
      }
      @media #{$mobile} {
        top: 74px;
        font-size: 8pt;
      }
    }
    >.action-text {
      @extend %apptext;
      color: $applist-action-text-color;
      @media #{$desktop} {
        top: 168px;
        font-size: 13pt;
      }
      @media #{$mobile} {
        top: 88px;
        font-size: 8pt;
      }
    }
  }
}

.main-content>.not-signed-up {
  max-width: 300px;
  background-color: white;
  margin: 32px auto;
  padding: 16px;
  border-radius: 4px;
  h1 { margin-top: 0; }
  p { margin-bottom: 0; }
}
