// Colors, mostly for the toolbar/navbar, but perhaps reusable elsewhere.

// The purple that we use for
$sandstorm-purple-color: #762F87;
$darker-purple-color: #65468e;

// The color that we use to outline focused elements, for accessibility
// Keep $half-focus-outline-color's values in sync with the values from the outline color.
$focus-outline-color: $sandstorm-purple-color;
$half-focus-outline-color: rgba(118, 47, 135, 0.5);

// The color to use for your border when you want to faintly outline something.
$generic-border-color: darken(white, 30%);

// Colors for success/error message box backgrounds.
$error-background-color: #ffdddd;
$success-background-color: #ddffdd;
$warning-background-color: #ffffaa;
$info-background-color: #d8bfd8;

////////  General shell elements
// Default shell background and text colors
$topbar-background-color: #191919;
$topbar-foreground-color: #9e9e9e;

// Colors for UI elements when hovered
$topbar-background-color-hover: #383838;
$topbar-foreground-color-hover: #ffffff;

// Colors for topbar and navbar entries when "unread"
$topbar-background-color-unread: #634488;
$topbar-foreground-color-unread: #ffffff;
$topbar-background-color-unread-hover: #7b55aa;

// Colors for topbar and navbar entries when "active" (i.e. current tab)
$topbar-background-color-active: #efefef;
$topbar-foreground-color-active: #191919;

// Color for borders between topbar/navbar and navbar items
$topbar-border-color: #383838;



//////// Colors for the items in dropdowns from the topbar
$topbar-dropdown-background-color: #ffffff;
$topbar-dropdown-foreground-color: #383838; // Not sure this is right

$topbar-dropdown-background-color-hover: #efefef;
$topbar-dropdown-foreground-color-hover: #383838;

$topbar-dropdown-border-color: #c1c1c1;


//////// Default colors, which may be reused in other modules
$default-content-background-color: #efefef;
$default-content-foreground-color: #191919;

// Color used for horizontal rules separating sections in page content
$default-rule-color: #a2a2a2;

// Some table-related colors.
$default-table-border-color: #ffffff; // Outlines the entire <table>.

$default-table-header-background-color: #d3d3d3;
$default-table-header-foreground-color: #191919;
$default-table-header-background-color-hover: #dddddd;
$default-table-header-border-color: #ffffff;
// ^ Used for the lines between multiple <th>es and between the <thead> and <tbody>

$default-table-row-background-color: #ffffff;
$default-table-row-foreground-color: #000000;
$default-table-row-background-color-hover: #e8e8e8;
$default-table-row-action-background-color: lighten($sandstorm-purple-color, 53%);
$default-table-row-action-background-color-hover: lighten($sandstorm-purple-color, 40%);

// Default text input field colors
$default-textinput-background-color: #ffffff;
$default-textinput-outline-color: #9e9e9e;
$default-textinput-outline-color-focus: $darker-purple-color;

//////// Grain list ("Open...") styles
$grainlist-background-color: $default-content-background-color;
$grainlist-foreground-color: $default-content-foreground-color;

$grainlist-searchbar-background-color: $default-textinput-background-color;
$grainlist-searchbar-outline-color: $default-textinput-outline-color;
$grainlist-searchbar-outline-color-focus: $default-textinput-outline-color-focus;

$grainlist-table-header-background-color: $default-table-header-background-color;
$grainlist-table-header-foreground-color: $default-table-header-foreground-color;
$grainlist-table-header-background-color-hover: $default-table-header-background-color-hover;
// icons fills should be #9e9e9e

$grainlist-table-row-background-color: $default-table-row-background-color;
$grainlist-table-row-foreground-color: #5d5d5d;
$grainlist-table-row-background-color-hover: $default-table-row-background-color-hover;
$grainlist-table-row-background-color-unread: #eee9f4;
$grainlist-table-row-action-background-color: $default-table-row-action-background-color;
$grainlist-table-row-action-background-color-hover: $default-table-row-action-background-color-hover;
$grainlist-table-row-outline-color: #d3d3d3;

///////// App list ("New...") styles
$applist-background-color: $default-content-background-color;
$applist-foreground-color: $default-content-foreground-color;

$applist-action-text-color: #5d5d5d;

$applist-rule-color: $default-rule-color;
$applist-pseudoapp-background-color: #ffffff;
$applist-pseudoapp-outline-color: #d3d3d3;

///////// App details page styles
$app-details-background-color: $default-content-background-color;
$app-details-foreground-color: $default-content-foreground-color;

$app-details-searchbar-background-color: $default-textinput-background-color;
$app-details-searchbar-outline-color: $default-textinput-outline-color;
$app-details-searchbar-outline-color-focus: $default-textinput-outline-color-focus;
