.grainlog-title {
  font-size: 14pt;
  color: #ccc;
  background-color: black;
  line-height: 32px;
}
.grainlog-contents {
  height: calc(100% - 32px);
  overflow: auto;
  >pre {
    margin: 8px;
    white-space: pre-wrap;
  }
  .ansi-black-fg   { color:rgb(0, 0, 0);        }
  .ansi-red-fg     { color:rgb(160, 0, 0);      }
  .ansi-green-fg   { color:rgb(0, 160, 0);      }
  .ansi-yellow-fg  { color:rgb(160, 160, 0);    }
  .ansi-blue-fg    { color:rgb(0, 0, 160);      }
  .ansi-magenta-fg { color:rgb(160, 0, 160);    }
  .ansi-cyan-fg    { color:rgb(0, 160, 160);    }
  .ansi-white-fg   { color:rgb(160,160,160);    }
  .ansi-bright-black-fg   { color:rgb(0, 0, 0);     font-weight: bold; }
  .ansi-bright-red-fg     { color:rgb(160, 0, 0);   font-weight: bold; }
  .ansi-bright-green-fg   { color:rgb(0, 160, 0);   font-weight: bold; }
  .ansi-bright-yellow-fg  { color:rgb(160, 160, 0); font-weight: bold; }
  .ansi-bright-blue-fg    { color:rgb(0, 0, 160);   font-weight: bold; }
  .ansi-bright-magenta-fg { color:rgb(160, 0, 160); font-weight: bold; }
  .ansi-bright-cyan-fg    { color:rgb(0, 160, 160); font-weight: bold; }
  .ansi-bright-white-fg   { color:rgb(160,160,160); font-weight: bold; }

  .ansi-black-bg   { background-color:rgb(0, 0, 0);        }
  .ansi-red-bg     { background-color:rgb(128, 0, 0);      }
  .ansi-green-bg   { background-color:rgb(0, 128, 0);      }
  .ansi-yellow-bg  { background-color:rgb(128, 128, 0);    }
  .ansi-blue-bg    { background-color:rgb(0, 0, 128);      }
  .ansi-magenta-bg { background-color:rgb(128, 0, 128);    }
  .ansi-cyan-bg    { background-color:rgb(0, 128, 128);    }
  .ansi-white-bg   { background-color:rgb(128,128,128);    }
  .ansi-bright-black-bg   { background-color:rgb(85, 85, 85);     }
  .ansi-bright-red-bg     { background-color:rgb(255, 85, 85);    }
  .ansi-bright-green-bg   { background-color:rgb(0, 255, 0);      }
  .ansi-bright-yellow-bg  { background-color:rgb(255, 255, 85);   }
  .ansi-bright-blue-bg    { background-color:rgb(85, 85, 255);    }
  .ansi-bright-magenta-bg { background-color:rgb(255, 85, 255);   }
  .ansi-bright-cyan-bg    { background-color:rgb(85, 255, 255);   }
  .ansi-bright-white-bg   { background-color:rgb(255, 255, 255);  }
}
