.install {
  position: relative;
  @media #{$desktop} {
    padding: 24px 32px;
  }
  @media #{$mobile} {
    padding: 0px 8px;
  }
  button {
    @extend %button-base;
    @extend %button-primary;
    font-size: 150%;
    font-weight: bold;
    padding: 10px 16px;
    line-height: 1.33;
  }
  pre {
    font-family: inherit;
    font-size: inherit;
  }

  #step-wait {
    display: block;
  }
  #step-download {
    display: block;
    >p {
      width: 100%;
      margin: 16px auto;
      >.progress {
        height: 32px;
        width: 100%;
      }
    }
  }
  #step-verify {
    display: block;
  }
  #step-unpack {
    display: block;
  }
  #step-analyze {
    display: block;
  }
  #step-confirm {
    display: block;
    >.app-details-widget {
      @extend %app-details-widget;
    }
    .confirm-form {
      display: block;

      #confirmInstall {
        /* Adding up the margin-left + padding-left of .app-details-box within _app-details.scss, for alignment. */
        margin-left: 140px;
      }
    }
  }
  #step-run {
    display: block;
    .done-notice { display: block; }
  }
  #step-delete {
    display: block;
  }
}

#my-files-arrow, #sign-in-arrow {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 400px;
  z-index: -1;

  background-image: url(/files-arrow.svg);
}
