@mixin unstyled-button () {
  // Styles for <button>s should @include this to remove the browser's default styling.
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  color: inherit;
  line-height: inherit;
  background-color: transparent;
  text-align: inherit;
  padding: 0;
  cursor: pointer;
}

%google-icon {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAADCklEQVQ4jSXSy2ucVRjA4d97zvdNJpPJbTJJE9rYaCINShZtRCFIA1bbLryBUlyoLQjqVl12W7UbN4qb1gtuYhFRRBCDBITaesFbbI3RFBLSptEY05l0ZjLfnMvrov/Bs3gAcF71x6VVHTk+o8nDH+hrH89rUK9Z9Yaen57S3wVtGaMBNGC0IegWKIDxTtVaOHVugZVmH3HX3Zz+4l+W1xvkOjuZfPsspY4CNkZELEgEIJKwYlBjEwjec/mfCMVuorVs76R8+P0KYMmP30U2dT8eIZqAR2ipRcWjEYxGSCRhV08e04oYMoxYLi97EI9YCJ0FHBYbIVGDlUBLwRlLIuYW6chEmQt/rJO09RJjhjEJEYvJYGNhkbUhw43OXtIWDFRq9G87nAaSK6sVRm8r8fzRMWbOX2Xx7ypd7ZET03sQhDOz73DqSJOrd+7HSo4QIu0Nx/4rOzx+cRXZ9+z7+uqJ+3hiepxK3fHZT2tMjXYzOtzL6dmznPzhLexgN0QlxAAYxAlqUqRmkf5j59RlNQ6MFHhgcpCTTx8EUb5e+plD7x4jjg1ANCAgrRQAdR7xKXjBlGyLYi7PxaUmb8z8xcpGHVXLHaXdjI0egKyJiQYTEhSPREVIEUBNC+Mqm+xpz3j0njLPHB2nsh1QgeG+IS48dYbD5YNoo0ZUAbVEuTUoKuBSZOarX/WhyQn6eg2+usDWf0s0tq8zNPYk+WI/Lnge++hlvlyfQ3NdECzGRWKwEEA0qNY251n69kV6+Y0kbaCZoebG2X3oU7pKoyxuXOPe945zs9DCeosGIXoBDyaLdf6ce4Hbk+/Y299ksKtAuaeNsiyw8c1LKIZ95b0MdgxA5giixACpTxEPSau6QdFfI5/2cLPmEW+JAQrtJUJzDXF1dkwHzVodJMX4HFEcQQMaFdPeM0Jb/4PUtzzaLKAhRyJFwo6lbegRNFfk819muV5dR4JBQoQdQ2xFiDmSNDHiaptamR9Gq5cQ18AledrGDpOfeI5Lq8u88smbhMRisoSAgAYghdfn5H/JkHuRZ1owLAAAAABJRU5ErkJggg==");
}

%github-icon {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wJGBYxHYxl31wAAAHpSURBVDjLpZI/aFNRFMZ/973bJqGRPopV4qNq/+SpTYnWRhCKilShg9BGcHOM+GfQoZuLk4iLgw4qZNBaHLuIdBNHl7Ta1qdNFI3SihnaNG1MpH3vuiQYQnwZvHCG893zffc751z4z6PX5T5gA1DAKnAaOAQEgAfAVeCpl+CeCrlRuEC6maO4h0A1wl4tPAHMqNUthvrDdHYY7A3t4rDVjeO6rBU2FaABM1WCrBNoi48Mi+nH9yj+KtPibAKwJXfQ5vcRG7soUnYmWEuQgAEIYBv4cGpoILI0Z4tyYYPegS6UguyijZQ6J45GSNmZHzUcJYD2ii2Ajv7efZ8WZ6ZwXFj79hXpayW4O0SL1Nl/8jzZlZ9dQLFS70pgvZKIyGD0yvu5eRmMnrk1PjI81ir1qBACTdPevXj95mVuNX8XKDQc/+T334bZZ104cvzYw2s3J3qAL5WXSsDbf61NNMBu+wOBs+VSyQ84Nfhg028ZGx3/qyy0lC7lgi7lghBitoon03lvB8l0/k7Wnk+8mny0cyXzEcfZxgwfZPTyRMHsOzAFXE9YhtNQIJnOx4FpJXT1eSkn2g0frqMoFrfoCXcqlCOAGwnLuO/l4JymcWl5uRxzXUKghBAiZ5r+WaV4lrCM555zqO+x2d0ftGmpiA/0k70AAAAASUVORK5CYII=");
}

@mixin overflow-ellipsis () {
  // For when you want a block of text to fit within a box on a single line and
  // use ellipsis if it would overflow the box.
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%pseudo-img-tag {
  // Use this, and background-image: url();, when you want to
  // create a DIV that feels like an IMG tag.
  //
  // Generally, we do this to allow Internet Explorer to show
  // user-created SVG images (e.g., app icons) rescaled to
  // the size of the (pseudo) IMG tag.
  //
  // Prefer contain to cover here, because downscaling an image is
  // more likely to produce good results for user-provided images
  // (e.g. whitelabel logo or app icons) than clipping the image will.
  background-size: contain;
  background-repeat: no-repeat;
}

%button-base {
  // Default button shape, layout, and size.
  cursor: pointer;
  border-radius: 5px;
  padding: 4px 8px;
  min-height: 26px;
  font-size: 13px;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
}

%button-disabled {
  cursor: auto;
  color: #777777;
  background-color: #efefef;
  border: 1px solid lighten(#afafaf, 10%);
  &:hover {
    color: #777777;
    background-color: #efefef;
    border: 1px solid lighten(#afafaf, 10%);
  }
}

%button-link {
  background: none;
  border: none;
  color: black;
  text-decoration: underline;
}

%button-primary {
  // A button coloring for the primary action of a form.
  background-color: $darker-purple-color;
  color: white;
  border: 1px solid darken($darker-purple-color, 10%);
  &:hover {
    background-color: #714daa;
  }
  &:disabled {
    @extend %button-disabled;
  }
}

%button-secondary {
  // A button coloring for secondary (less important) actions.
  background-color: white;
  color: black;
  border: 1px solid darken(white, 30%);
  &:hover {
    background-color: darken(white, 10%);
  }
  &:disabled {
    @extend %button-disabled;
  }
}

%button-danger {
  background-color: red;
  color: white;
  border: 1px solid darken(red, 30%);
  &:hover {
    background-color: darken(red, 10%);
  }
  &:disabled {
    @extend %button-disabled;
  }
}

%button-dark {
  background-color: #303030;
  color: #ffffff;
  border: 1px solid #4e4e4e;
  transition: background-color .35s;
  &:hover {
    background-color: #4e4e4e;
  }
}

%standard-form {
  // Styles that we tend to reuse in forms, particularly in the admin panel.
  .form-group {
    margin-bottom: 10px;
  }

  .checkbox-group {
    // We want to make it so that labels for checkboxes and other associated content align neatly.
    // To accomplish this, we remove the checkbox from the flow, place all other content inside a
    // box with some left padding, and then pull the checkbox back out to the side with negative margin.
    // We might want to do something similar for radio buttons some day.
    position: relative;
    padding-left: 24px;
    margin-bottom: 10px;
    input[type=checkbox] {
      position: absolute;
      margin-left: -24px;
      font-size: 16px;
    }
  }

  label {
    display: block;
    font-weight: normal;
    font-size: 20px;
  }

  input[type=text], input[type=password], input[type=number], input[type=email], select {
    min-height: 30px;
  }

  input[type=text], input[type=password], input[type=number], input[type=email], select, textarea {
    display: block;
    width: 100%;
    color: #222;
    background-color: white;
    padding: 4px;
    font-size: 16px;
    font-family: inherit;
    border-radius: 2px;
    border: 1px solid #d3d3d3;
    &:disabled {
      color: #666;
      background-color: #efefef;
    }
    &:invalid {
      border: 1px solid #c00;
    }
  }

  .form-subtext {
    font-size: 14px;
    color: #666;
  }

  .button-row {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: flex-start;
    >*:not(:first-child) {
      margin-right: 10px;
    }
  }

  button[type="submit"] {
    @extend %button-base;
    @extend %button-primary;
  }

  button[type=button] {
    @extend %button-base;
    @extend %button-secondary;
  }

  &.disabled {
    // Used for marking that the entire form is disabled.  Note that this does not disable the
    // <input>s; you should still add the disabled attribute to each control.
    color: #666 !important; // Grey out all text uniformly.
  }
}

%search-row {
  // A search bar that grows to the size of its container.
  >label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    >span.search-icon {
      @extend %pseudo-img-tag;
      background-image: url("/search.svg");
      background-size: 24px 24px;
      background-position: center;
      display: inline-block;
      width: 32px;
      height: 32px;
      vertical-align: top;
    }
    >input.search-bar {
      flex: 1 1 auto;
      font-size: 16pt;
      height: 32px;
      background-color: $grainlist-searchbar-background-color;
      border: 1px solid $grainlist-searchbar-outline-color;
      &:focus {
        border: 1px solid $grainlist-searchbar-outline-color-focus;
      }
    }
  }
}
