.styleguide {
  padding: 32px;
  font-weight: normal;
  h1 {
    margin-top: 0px;
    font-weight: normal;
    padding-bottom: 12px;
    border-bottom: 1px solid #a2a2a2;
  }
  h2 {
    font-weight: normal;
  }
  ul {
    padding-left: 16px;
  }
}
