/* This file contains Sandstorm-wide customizations to intro.js styles.  This permits us to
   update introjs.css to the latest upstream version straightforwardly. */
.introjs-fixedTooltip .introjs-tooltip .introjs-tooltiptext {
  min-width: 300px;
}
.introjs-fixedTooltip .introjs-tooltip {
  /* This needs to be increased due to the wider-than-usual tooltiptext. */
  max-width: 350px;
}
.hidden-introjs-highlight {
  display: none;
}