name: doc-prod

on:
  push:
    branches: [master]
    paths:
      - 'mkdocs.yml'
      - 'docs/**'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SANDSTORM_DOC_URL: ${{ secrets.doc_url_prod }}
    steps:
    - uses: actions/checkout@v4
    - run: bash -x docs/generate.sh -s -p
